{% extends "website/inc/www_base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}Servizio di tagliando auto a Torino - Tagliando auto | Un unico centro, tanti servizi per la tua auto{% endblock %}

{# page description #}
{% block description %}Servizio di tagliando auto a Torino. Grazie al nostro tagliando, in linea con chilometraggio e tipologia della tua auto, potrai percorrere centinaia di migliaia di chilometri godendo appieno della tua auto e senza avere cattive sorprese.{% endblock %}

{# page keywords #}
{% block keywords %}tagliando completo,tagliando completo Torino,tagliando,tagliando Torino,tagliando Torino Centro,tagliando in garanzia,tagliando in garanzia Torino,tagliando in garanzia Torino Centro,MotorJab Garage{% endblock %}

{# custom page css block #}
{% block custom_css %}{% endblock %}
{# Custom page script block #}
{% block custom_js %}
{% endblock %}
{% block extra_js %}
{% endblock %}

{# container content #}
{% block www_main_content %}
<div class="page_header_block service_header_block">
	<div><h1>Tagliando auto a Torino</h1></div>
	<div><h2>Perchè è importante farlo regolarmente</h2></div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-offset-1 col-md-7 col-md-push-4 padding-xs-only padding-sm-only">
				<div class="col-lg-12 no_gutter">
					<h5>Un tagliando chiaro, realizzato su misura per te</h5>
				</div>
				<div class="col-lg-12 no_gutter">
					<h3>Ecco il nostro tagliando</h3>
				</div>
				<div class="col-lg-12 no_gutter readable_text1">
					Un tagliando puntuale è fondamentale per assicurare un corretto funzionamento della tua auto: <b>fare in modo che sia sempre sicura su strada</b> e <b>garantire longevità al tuo motore</b> sono i nostri obiettivi primari. Inoltre, tagliandando costantemente la tua auto potrai prevenire inutili guasti al tuo motore, evitando di incorrere in molteplici riparazioni rendendo, il tutto più dispendioso.<br />
					Grazie al nostro tagliando, potrai percorrere centinaia di migliaia di chilometri godendo appieno della tua auto e senza avere cattive sorprese.
					<br /><br />Il nostro tagliando, in linea con chilometraggio e tipologia del tuo veicolo comprende:
					<ul>
						<li>sostituzione olio motore</li>
						<li>sostituzione filtro olio</li>
						<li>sostituzione filtro aria</li>
						<li>sostituzione filtro abitacolo</li>
						<li>sostituzione filtro carburante</li>
						<li>sostituzione candele</li>
						<li>verifica efficienza ammortizzatori</li>
						<li>controllo impianto di scarico</li>
						<li>controllo cinematismi inferiori e giochi organi sterzo</li>
						<li>verifica usura freni anteriori e posteriori</li>
						<li>serraggio bulloneria inferiore e superiore</li>
						<li>controllo spazzole tergicristalli</li>
						<li>controllo luci</li>
						<li>verifica/rabbocco livello liquido vetri</li>
						<li>verifica/rabbocco livello liquido batteria</li>
						<li>verifica/rabbocco e o sostituzione livello liquido radiatore</li>
						<li>verifica/rabbocco livello liquido servosterzo</li>
						<li>verifica livello e o sostituzione liquido freni</li>
						<li>pressione e usura pneumatici</li>
						<li>stato e tensione cinghia servizi</li>
						<li>verifica impianto di ricarica</li>
						<li>diagnosi elettronica</li>
						<li>reset parametri manutenzione</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-md-pull-8 text-xs-center text-md-left">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<a href="{% static "website/img/tagliando_1.jpg" %}" data-lightbox="tagliando_slide">
					<img class="img-responsive" alt="Autoriparazioni MotorJab Garage" src="{% static "website/img/tagliando_1.jpg" %}">
				</a>
				<a href="{% static "website/img/tagliando_2.jpg" %}" data-lightbox="tagliando_slide">
					<img class="img-responsive img_margin_top" alt="Autoriparazioni MotorJab Garage" src="{% static "website/img/tagliando_2.jpg" %}">
				</a>
				<a href="{% static "website/img/attrezzi_4.jpg" %}" data-lightbox="tagliando_slide">
					<img class="img-responsive img_margin_top" alt="Autoriparazioni MotorJab Garage" src="{% static "website/img/attrezzi_4.jpg" %}">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-7 padding-xs-only padding-sm-only">
				<div class="col-lg-12 no_gutter">
					<h5>Non dovrai preoccuparti di nulla</h5>
				</div>
				<div class="col-lg-12 no_gutter">
					<h3>Manteniamo la Garanzia del costruttore¹</h3>
				</div>
				<div class="col-lg-12 no_gutter readable_text1">
					Sapevi che sei libero di decidere che sia MotorJab Garage ad occuparsi della manutenzione del tuo veicolo, fin dal primo giorno, senza perdere la garanzia del costruttore?<br />Lo stabilisce il regolamento n. <b>461/2010 della Commissione Europea</b> che afferma, di fatto, la libera concorrenza nel mercato della manutenzione auto in tutti i paesi dell'Unione Europea. Questo testo determina due importanti passi avanti in favore del consumatore:<br />
					<ul>
						<li>Garantisce la libera scelta del centro assistenza per la manutenzione del veicolo. Anche quando la vettura è ancora in garanzia.¹</li>
						<li>Impone ai produttori dei veicoli di fornire - ai professionisti che si occupano della manutenzione e riparazione auto - tutte le caratteristiche dei veicoli e delle parti di ricambio necessarie per la riparazione.</li>
					</ul><br />
					¹<i>Il Tagliando Costruttore in Garanzia effettuato presso un nostro centro verrà registrato sul libretto di garanzia o di manutenzione della tua auto, garantendoti la totale sicurezza della tua scelta.</i>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-4 text-xs-center text-md-right">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<a href="{% static "website/img/tagliando-in-garanzia.png" %}" data-lightbox="image-4">
					<img class="img-responsive" alt="Autoriparazioni MotorJab Garage" src="{% static "website/img/tagliando-in-garanzia.png" %}">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-offset-2 col-md-8 text-center">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<a href="{% static "website/img/checkup.jpg" %}" data-lightbox="image-5">
					<img class="img-responsive" alt="Autoriparazioni MotorJab Garage" src="{% static "website/img/checkup.jpg" %}">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-xs-12">
			<div class="jumbotron text-center">
				<h2>Vuoi ricevere uno sconto del 30%<br />da utilizzare sui nostri servizi?</h2>
				<p>Registrati adesso, riceverai subito il tuo sconto!</p>
				<p><a href="/ricevi-offerte/" class="btn btn-primary btn-lg">Ottieni sconto</a></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
