{% extends "website/inc/www_base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}Servizio gommista a Torino, sostituzione pneumatici, cambio stagionale pneumatici a Torino | Un unico centro, tanti servizi per la tua auto{% endblock %}

{# page description #}
{% block description %}Effettuiamo la sostituzione degli pneumatici della tua auto, il cambio stagionale degli pneumatici e la riparazione di eventuali forature. Sostituzione pneumatici Torino, Gommista Torino{% endblock %}

{# page keywords #}
{% block keywords %}gommista,gommista Torino,sostituzione pneumatici,sostituzione pneumatici Torino,vendita pneumatici,vendita pneumatici Torino,riparazione pneumatici,riparazione pneumatici Torino,MotorJab Garage{% endblock %}

{# custom page css block #}
{% block custom_css %}{% endblock %}
{# Custom page script block #}
{% block custom_js %}
{% endblock %}
{% block extra_js %}
{% endblock %}

{# menu active element #}
{% block navigation_active_www_elettrauto %}active{% endblock %}

{# container content #}
{% block www_main_content %}
<div class="page_header_block service_header_block">
	<div><h1>Elettrauto a Torino</h1></div>
	<div><h2>Riparazione, sostituzione, equilibratura e custodia pneumatici, anche di runflat</h2></div>
</div>
<!-- three elements block -->
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-7 padding-xs-only padding-sm-only">
				<div class="col-lg-12 no_gutter">
					<h5>Il paradiso degli pneumatici</h5>
				</div>
				<div class="col-lg-12 no_gutter">
					<h3>Sostituzione, riparazione e cambio stagionale</h3>
				</div>
				<div class="col-lg-12 no_gutter readable_text1">
					Da MotorJab Garage a Torino effettuiamo <b>sostituzione</b> e <b>riparazione</b> degli <b>pneumatici</b>, per esempio in caso di foratura non sempre è necessario sostituirli, a patto che la sicurezza non venga meno, basta una semplice riparazione, facendoti risparmiare soldi.<br /><br />
					Ci prendiamo carico di offrirti la <b>custodia degli pneumatici</b> per i due cambi stagionali, dalla stagione estiva a quella invernale e, viceversa, da quella invernale a quella estiva. Avrai la sicurezza che i tuoi pneumatici vengano stoccati in un locale riparato e a temperatura costante, il chè garantirà che le caratteristiche dello pneumatico rimangano invariate.
				</div>
			</div>
			<div class="col-md-offset-1 col-md-4 text-xs-center text-md-right">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<a title="Autoriparazioni MotorJab Garage" href="{% static "website/img/gommista_1.jpg" %}" data-lightbox="image-1">
					<img class="img-responsive" alt="Autoriparazioni MotorJab Garage" src="{% static "website/img/gommista_1.jpg" %}">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-offset-1 col-md-7 col-md-push-4 padding-xs-only padding-sm-only">
				<div class="col-lg-12 no_gutter">
					<h5>I tuoi preziosi cerchi in lega non verranno scalfiti</h5>
				</div>
				<div class="col-lg-12 no_gutter">
					<h3>Attrezzature all'avanguardia</h3>
				</div>
				<div class="col-lg-12 no_gutter readable_text1">
					Da MotorJab Garage a Torino utilizziamo attrezzature di ultimissima generazione, che <b>non scalfiranno</b> minimamente i <b>cerchi in lega</b> durante la fase di smontaggio e montaggio dello pneumatico, <b>compresi i runflat</b>, garantendo un lavoro a regola d'arte.<br /><br />
					Tutte le <b>lavorazioni sono eseguiti in locali coperti</b> senza l'utilizzo dei cric, ma con l'ausilio di sollevatori per auto.
				</div>
			</div>
			<div class="col-md-4 col-md-pull-8 text-xs-center text-md-left">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<a title="Autoriparazioni MotorJab Garage" href="{% static "website/img/gommista_2.jpg" %}" data-lightbox="image-2">
					<img class="img-responsive" alt="Autoriparazioni MotorJab Garage" src="{% static "website/img/gommista_2.jpg" %}">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-7 padding-xs-only padding-sm-only">
				<div class="col-lg-12 no_gutter">
					<h5>Ti consigliamo e guidiamo nel servizio pre e post vendita</h5>
				</div>
				<div class="col-lg-12 no_gutter">
					<h3>Vendita pneumatici</h3>
				</div>
				<div class="col-lg-12 no_gutter readable_text1">
					Ci occupiamo della vendita degli pneumatici offrendo la nostra esperienza per aiutarvi nella scelta del prodotto più adatto alla vostra auto ed alle vostre necessità, inoltre vi seguiamo anche nel processo post vendita.<br /><br />
					<b>Presso la nostra officina troverete pneumatici delle migliori marche.</b>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-4 text-xs-center text-md-right">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<a title="Autoriparazioni MotorJab Garage" href="{% static "website/img/gommista_3.jpg" %}" data-lightbox="image-3">
					<img class="img-responsive" alt="Autoriparazioni MotorJab Garage" src="{% static "website/img/gommista_3.jpg" %}">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-offset-2 col-md-8 text-center">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<a title="Autoriparazioni MotorJab Garage" href="{% static "website/img/gommista_4.jpg" %}" data-lightbox="image-4">
					<img class="img-responsive" alt="Autoriparazioni MotorJab Garage" src="{% static "website/img/gommista_4.jpg" %}">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-xs-12">
			<div class="jumbotron text-center">
				<h2>Vuoi ricevere uno sconto del 30%<br />da utilizzare sui nostri servizi?</h2>
				<p>Registrati adesso, riceverai subito il tuo sconto!</p>
				<p><a title="Ottieni sconto" href="/ricevi-offerte/" class="btn btn-primary btn-lg">Ottieni sconto</a></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
