{% extends "website/inc/www_base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}Ricarica climatizzatore auto a Torino{% endblock %}

{# page description #}
{% block description %}Con la ricarica condizionatore auto si ripristina la quantità di gas refrigerante che si trova nel circuito del condizionatore, in caso contrario, con poco gas, si nota un calo di efficienza.{% endblock %}

{# page keywords #}
{% block keywords %}riparazione climatizzatore auto torino,manutenzione condizionatore auto torino ricarica clima torino,ricarica climatizzatore torino,ricarica condizionatore torino,ricarica clima auto torino,sostituzione filtro abitacolo torino,igienizzazione climatizzatore torino,ricarica clima,ricarica climatizzatore,ricarica condizionatore,ricarica clima auto,sostituzione filtro abitacolo,igienizzazione climatizzatore riparazione climatizzatore auto,manutenzione condizionatore auto{% endblock %}

{# custom page css block #}
{% block custom_css %}{% endblock %}
{# Custom page script block #}
{% block custom_js %}
{% endblock %}
{% block extra_js %}
{% endblock %}

{# menu active element #}
{% block navigation_active_www_climatizzatore %}active{% endblock %}
{% block second_navigation_active_www_ricarica_climatizzatore %}submenu_active{% endblock %}

{# container content #}
{% block www_main_content %}
<div class="page_header_block service_header_block">
	<div><h1>Ricarica climatizzatore auto a Torino</h1></div>
	<div><h2>Quando inizi a sentire troppo caldo</h2></div>
</div>
<!-- three elements block -->
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-7 padding-xs-only padding-sm-only">
				<div class="col-lg-12 no_gutter">
					<h5>Se il climatizzatore della tua auto non raffredda</h5>
				</div>
				<div class="col-lg-12 no_gutter">
					<h3>Servizio di ricarica climatizzatore</h3>
				</div>
				<div class="col-lg-12 no_gutter readable_text1">
					Con la ricarica condizionatore auto <b>si ripristina la quantità di gas refrigerante</b> che si trova nel circuito del condizionatore, in caso contrario, con poco gas, si nota un calo di efficienza. Durante la carica si <b>sostituisce anche l'olio presente nell'impianto</b>, atto a salvaguardare la durata del compressore.<br />
					Periodicamente sulla tua auto è fondamentale eseguire questi interventi:
					<ul>
						<li><b>Ricaricare</b> l'impianto di climatizzazione</li>
						<li><b>Igienizzare</b> l'impianto</li>
						<li><b>Sostituire</b> il filtro abitacolo</li>
					</ul>
					Da MotorJab Garage a Torino, <b>eseguiamo</b>, oltre alla <b>ricarica del climatizzatore</b>, anche l'<b>igienizzazione dell'impianto</b> e la <b>sostituzione del filtro abitacolo</b>. Igienizzare l'impianto è necessario perché il raffreddamento dell'aria provoca umidità e nel lungo periodo si formano le <b>muffe causa di cattivo odore e responsabili di molte allergie</b>, per questo è importante procedere a una corretta e regolare manutenzione dell'aria condizionata.<br /><br />
					<b>Nel caso in cui la sola ricarica non sia sufficiente per far ripartire l'impianto, occorre:</b>
					<ul>
						<li><a href="#">Analizzare e riparare l'impianto di climatizzazione</a></li>
					</ul><br /><br />
					<h6>Una <b>corretta e costante manutenzione</b> dell'impianto di climatizzazione ti permette di guidare con confort e in salute.</h6>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-4 text-xs-center text-md-right">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<a title="Ricarica climatizzatore auto Torino" href="{% static "website/img/ricarica-clima-torino-1.jpg" %}" data-lightbox="image-1">
					<img class="img-responsive" alt="Ricarica climatizzatore auto Torino" src="{% static "website/img/ricarica-clima-torino-1.jpg" %}">
				</a>
				<a title="Ricarica climatizzatore auto Torino" href="{% static "website/img/ricarica-clima-torino-2.jpg" %}" data-lightbox="image-2">
					<img class="img-responsive" alt="Ricarica climatizzatore auto Torino" src="{% static "website/img/ricarica-clima-torino-2.jpg" %}">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-xs-12">
			<div class="jumbotron text-center">
				<h2>Contattaci adesso!</h2>
				<p>Vuoi richiedere un preventivo o ricaricare il climatizzatore della tua auto?</p>
				<p><a title="Contattaci" href="/contattaci/" class="btn btn-primary btn-lg">Contattaci</a></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
