{% extends "website/inc/www_base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}MotorJab Garage | I nostri servizi{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# custom page css block #}
{% block custom_css %}{% endblock %}
{# Custom page script block #}
{% block custom_js %}
<script src="{% static "website/js/vendor/jquery.scrollTo.min.js" %}"></script>
{% endblock %}
{% block extra_js %}
<script>
	/*$(document).ready(function(){
		$(document).on("click", ".serviceNavigationClick", function(){
			var anchorName = $(this).data("navigationAnchor");
			if (anchorName) {
				page_anchor(anchorName);
			}
		});

		page_anchor();
	});*/

	$(document).ready(function(){
		$(document).on("click", ".serviceNavigationClick", function(){
			var navMain = $("#bs-navbar-collapse-1");
			navMain.collapse('hide');
		});
	});
</script>
{% endblock %}

{# menu active element #}
{% block navigation_active_services %}active{% endblock %}

{# container content #}
{% block www_main_content %}
<div class="page_header_block service_header_block">
	<div><h1>I nostri servizi</h1></div>
	<div><h4>Meccanica, elettronica, servizio gomme: scopri tutto quello che facciamo</h4></div>
</div>
<!-- three elements block -->
<div id="_meccanica">&nbsp;</div>
<div class="row page_title_separator">
	<div class="col-sm-12">
		<h2>Meccanica</h2>
		<div class="readable_text1">
			MotorJab Garage è un'officina meccanica di Torino che fornisce tutti i servizi di cui hai bisogno per la tua auto: servizi per il sistema di scarico, servizi per i freni, manutenzione e riparazione dell'aria condizionata, servizi sostituzione olio, riparazione e sostituzione degli ammortizzatori, tagliando auto e tanto altro!
		</div>
	</div>
</div>
<div class="row elements_container no_gutter">
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/tagliando-cambio-olio.png" %}" alt="">
			<div class="block-label">Tagliando completo</div>
			<div class="readable_text1">
Il nostro centro è autorizzato per il rilascio del tagliando per auto, suv, fuoristrada e veicoli commerciali di tutte le marche. Il controllo viene effettuato in base alle direttive del costruttore e, in caso di sostituzione di un pezzo, l’autofficina utilizza solo ricambi di qualità originali, tutelando la garanzia del costruttore. Per scoprire quando fare il tagliando di un veicolo, è necessario verificare le indicazioni del libretto di uso e manutenzione, perché la frequenza dipende dal tipo di motore, di alimentazione e da altre caratteristiche dell’auto. In genere il tagliando va fatto tra i 15.000 e i 30.000 km, ma alcune auto più recenti possono arrivare a 35.000 km.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/sistema-frenante.png" %}" alt="">
			<div class="block-label">Sistema frenante</div>
			<div class="readable_text1">
Il sistema frenante è uno dei principali elementi di sicurezza attiva del veicolo. Dischi e pastiglie – i materiali d’attrito dei freni – devono essere in condizioni ottimali, quindi richiedono una manutenzione e sostituzione periodica, perché soggetti a usura. Un controllo dei freni è consigliabile ogni 10.000/20.000 km, ma è da effettuare immediatamente qualora insorgessero vibrazioni, rumori e odori sgradevoli durante la frenata.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/ammortizzatori.png" %}" alt="">
			<div class="block-label">Ammortizzatori</div>
			<div class="readable_text1">
Gli ammortizzatori sono tra i componenti più importanti delle sospensioni di un'auto insieme agli pneumatici e alla molla. Assicurano una buona connessione tra la strada e lo pneumatico. Gli ammortizzatori riducono l'effetto di rimbalzo delle gomme a terra e le vibrazioni, rendendo la guida più stabile e comfortevole. Ti consigliamo di far controllare gli ammortizzatori ogni 20.000 km e di farli sostituire ogni 70.000 km.
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/distribuzione.png" %}" alt="">
			<div class="block-label">Distribuzione</div>
			<div class="readable_text1">
La cinghia di distribuzione è particolarmente soggetta a usura, sia perché è fatta di gomma (alcuni veicoli utilizzano una catena come alternativa), sia perché è sottoposta a notevoli sforzi meccanici, gira infatti costantemente agli stessi giri del motore. Di solito deve essere sostituita ogni 90.000 km, ma una regolare verifica delle sue condizioni è comunque consigliabile.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/frizione.png" %}" alt="">
			<div class="block-label">Frizione</div>
			<div class="readable_text1">
La frizione serve a separare il motore dalla scatola del cambio, riducendo al contempo le vibrazioni e proteggendo il motore. La durata di una frizione è di circa 100.000 km. Una volta superato questo chilometraggio, la sua durata dipende dall’uso che fai della tua auto e dal tipo di strade che percorri.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/sistema-di-scarico.png" %}" alt="">
			<div class="block-label">Impianto di scarico</div>
			<div class="readable_text1">
L’impianto di scarico è un sistema complesso che parte dal motore e giunge fino all’estremità dell’automobile. Un impianto di scarico completo è diviso in parti diverse. Le parti principali che compongono un impianto di scarico sono i collettori, il centrale e il terminale.
Oltre a influire sulle prestazione del motore, aiuta a proteggere l'ambiente e a non danneggiare le tue orecchie. La marmitta o catalizzatore è una parte cruciale nel processo di pulizia dei gas di scarico del tuo veicolo, per questo si raccomanda di effettuare un controllo ogni 20.000 km.
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/climatizzatore.png" %}" alt="">
			<div class="block-label">Climatizzatore</div>
			<div class="readable_text1">
				L'impianto d'aria condizionata è complesso ed è formato da filtri e parti meccaniche. Per questo è consigliabile rivolgersi a un professionista per riparare il tuo impianto d'aria condizionata e di riscaldamento. Dal <b>ricaricare l'aria condizionata</b> al <b>sostituire un filtro disidratatore</b>, MotorJab Garage può diagnosticare qualsiasi malfunzionamento meccanico e idraulico del circuito refrigerante o un malfunzionamento elettrico dell'impianto d'aria condizionata regolabile. 
			</div>
		</div>
	</div>
</div>
<div id="_elettronica">&nbsp;</div>
<div class="row page_title_separator">
	<div class="col-sm-12">
		<h2>Elettronica</h2>
		<div class="readable_text1">
			MotorJab Garage è un'officina meccanica di Torino che si occupa anche di elettronica dell'auto: montaggio di impianti autoradio, sensori di parcheggio, telefoni veicolari, kit vivavoce, navigatori e antifurti satellitari, accessori vari, aggiornamenti software delle case madri (es. Blue&amp;Me). Diagnosi computerizzata di sistemi di sicurezza (ABS - Aribag), centraline per la gestione del motore, iniezioni elettroniche, accensioni e molto altro.
		</div>
	</div>
</div>
<div class="row elements_container no_gutter">
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/diagnosi-elettronica.png" %}" alt="">
			<div class="block-label">Diagnosi elettronica</div>
			<div class="readable_text1">
Sui veicoli di oggi, alcuni malfunzionamenti posso avere origini diverse. E’ per questo che è utile ricorrere ad una diagnosi precisa, capace di fornire un’indicazione sullo stato dei componenti del veicolo in rapporto ad una problematica data : tenuta di strada, inquinamento, circuito di carica, ecc.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/sostituzione-ricarica-batteria.png" %}" alt="">
			<div class="block-label">Sostituzione / Carica batteria</div>
			<div class="readable_text1">
La batteria è l'elemento fondamentale per mettere la vetture in moto, spesso i sintomi di questo componente vengono ignorati, per esempio delle accensioni più lunghe e difficoltose, come conseguenza non si riuscirà più a mettere in moto l'auto, in questo caso si può procedere ricaricando la batteria, oppure, nel caso di danni irreparabili, procedere con la sostituzione di quest'ultima.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/lampadine.png" %}" alt="">
			<div class="block-label">Sostituzione lampadine</div>
			<div class="readable_text1">
Per godere sempre di un'ottima sicurezza e visibilità in tutte le condizioni è necessario far sostituire le eventuali lampadine bruciate, nella maggior parte dei casi sarà l'auto stesso a segnalarne un malfunzionamento tramite una spia sul cruscotto, ma non è necessariamente così, alcune volte è necessario verificarne il funzionamento manualmente.
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/efficienza-impianto-elettrico.png" %}" alt="">
			<div class="block-label">Efficienza impianto elettrico</div>
			<div class="readable_text1">
				Controllare l'efficienza di un impianto elettrico è fondamentale per garantire al veicolo un perfetto funzionamento sia in fase di avvio, che durante l'utilizzo. Ci sono molti componenti che possono influire negativamente sull'impianto elettrico, batteria, alternatore e altri componenti elettrici vanno monitoriati tramite una diagnosi specifica per poterne garantire un funzionamento corretto. Eseguire questi controlli ti eviterà brutte sorpese future, come per esempio rimanere fermo per strada con la macchina che non da segni di vita.
			</div>
		</div>
	</div>
</div>
<div id="_gommista">&nbsp;</div>
<div class="row page_title_separator">
	<div class="col-sm-12">
		<h2>Gommista</h2>
		<div class="readable_text1">
			MotorJab Garage è un servizio professionale di gommista a Torino, siamo in grado di riparare, sostituire ed equilibrare i tuoi pneumatici, utilizziamo apparecchiature di ultimissima generazione in grado di preservare i cerchi in lega, grazie al nuovo sistema "leva la leva".
		</div>
	</div>
</div>
<div class="row elements_container no_gutter">
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/sostituzione-riparazione.png" %}" alt="">
			<div class="block-label">Sostituzione / Riparazione</div>
			<div class="readable_text1">
				Il nostro centro è in grado di riparare piccole forature e di trovare il pneumatico più adatto alla tua vettura ed alle condizioni metero, dagli penumatici estivi a quelli invernali, a prezzi competitivi. I nostri macchinari di ultimissima generazione si avvalgono di un sistema all'avanguardia per preservare anche i cerchi in lega più preziosi, senza neanche sfiorarli.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/rimessaggio-gomme.png" %}" alt="">
			<div class="block-label">Custodia pneumatici</div>
			<div class="readable_text1">
				Offriamo il servizio di custodia pneumatici per tutti i clienti che necessitano di praticità nella gestione delle gomme. A seguito di un cambio stagionale, per esempio, custodiremo le tue gomme in un ambiente asciutto e con temperatura costante, per preservarne al meglio le loro caratteristiche.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/equilibratura-gomme.png" %}" alt="">
			<div class="block-label">Equilibratura</div>
			<div class="readable_text1">
				L'equilibratura degli pneumatici è fondamentale per evitare scompensi pericolosi e vibrazioni sul volante, è un'operazione che andrebbe eseguita a seguito della sostituzione di ogni pneumatico.
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-7 padding-xs-only padding-sm-only">
				<div class="col-lg-12 no_gutter">
					<h5>Tutto quello di cui hai bisogno</h5>
				</div>
				<div class="col-lg-12 no_gutter">
					<h3>...e molto altro</h3>
				</div>
				<div class="col-lg-12 no_gutter readable_text1">
					Hai bisogno di consigli o suggerimenti per la tua auto? Oppure qualche rumore anomalo non ti permette di guidare con sicurezza e consapevolezza? Passa in officina (Via Bellini, 7, 10121 Torino TO) per un analisi dei nostri esperti oppure comunicaci i tuoi dubbi/domande <a href="/contattaci/">cliccando qui</a>, saremo lieti di risponderti e di analizzare ogni tuo problema.
				</div>
			</div>
			<div class="col-md-offset-1 col-md-4 text-xs-center text-md-right">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<img class="img-responsive" alt="Autoriparazioni MotorJab Garage" src="{% static "website/img/img1.png" %}">
			</div>
		</div>
	</div>
</div>
{% endblock %}
