{% extends "website/inc/www_base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}Servizio custodia pneumatici a Torino{% endblock %}

{# page description #}
{% block description %}Il nostro servizio di custodia permette ai tuoi pneumatici di essere conservati in perfette condizioni. Stocchiamo i tuoi pneumatici estivi e invernali in condizioni di sicurezza ottimali, evitando di danneggiarli o deformarli.{% endblock %}

{# page keywords #}
{% block keywords %}gommista,gommista Torino,sostituzione pneumatici,sostituzione pneumatici Torino,vendita pneumatici,vendita pneumatici Torino,riparazione pneumatici,riparazione pneumatici Torino,MotorJab Garage{% endblock %}

{# custom page css block #}
{% block custom_css %}{% endblock %}
{# Custom page script block #}
{% block custom_js %}
{% endblock %}
{% block extra_js %}
{% endblock %}

{# menu active element #}
{% block navigation_active_www_gommista %}active{% endblock %}
{% block second_navigation_active_www_custodia_pneumatici %}submenu_active{% endblock %}

{# container content #}
{% block www_main_content %}
<div class="page_header_block service_header_block">
	<div><h1>Servizio custodia pneumatici a Torino</h1></div>
	<div><h2>Affidaci la custodia dei tuoi pneumatici</h2></div>
</div>
<!-- three elements block -->
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-7 padding-xs-only padding-sm-only">
				<div class="col-lg-12 no_gutter">
					<h5>Comodità e risparmio senza stress!</h5>
				</div>
				<div class="col-lg-12 no_gutter">
					<h3>Il nostro servizio di custodia</h3>
				</div>
				<div class="col-lg-12 no_gutter readable_text1">
					Il nostro servizio di custodia permette ai tuoi pneumatici di essere conservati in perfette condizioni. Stocchiamo i tuoi pneumatici estivi e invernali in condizioni di sicurezza ottimali, evitando di danneggiarli o deformarli.<br /><br />
					Affidandoci i tuoi pneumatici potrai avere i seguenti vantaggi:
					<ul>
						<li>Avrai la sicurezza che i tuoi pneumatici verranno <b>conservati nella maniera migliore</b>, in un locale chiuso e lontano dalle intemperie</li>
						<li><b>Preserverai</b> la loro qualità e ne aumenterai la loro durata</li>
						<li><b>Eviterai sprechi di spazio</b>, ingombi nel box e non avrai il problema del loro trasporto</li>
					</ul><br />
					<b>Oltre alla custodia pneumatici, offriamo i seguenti servizi:</b>
					<ul>
						<li><a title="Sostituzione pneumatici e cambi stagionali" href="/cambio-stagionale-pneumatici-torino/">Sostituzione pneumatici e cambi stagionali</a></li>
						<li><a title="Vendita di pneumatici delle migliori marche" href="/vendita-montaggio-pneumatici-torino/">Vendita di pneumatici delle migliori marche</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-4 text-xs-center text-md-right">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<a title="Custodia pneumatici Torino" href="{% static "website/img/custodia-penumatici-torino-1.jpg" %}" data-lightbox="image-1">
					<img class="img-responsive" alt="Custodia pneumatici Torino" src="{% static "website/img/custodia-penumatici-torino-1.jpg" %}">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-xs-12">
			<div class="jumbotron text-center">
				<h2>Contattaci adesso!</h2>
				<p>Vuoi richiedere informazioni, consigli o prenotare un cambio gomme?</p>
				<p><a title="Contattaci" href="/contattaci/" class="btn btn-primary btn-lg">Contattaci</a></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
