{% extends "website/inc/www_base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}MotorJab Garage | Cookie Policy{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# custom page css block #}
{% block custom_css %}
<style>
	.coupon_image_container { margin-top: 40px; margin-bottom: 20px; }
</style>
{% endblock %}
{# Custom page script block #}
{% block custom_js %}
{# howto: https://validatejs.org #}
<script src="{% static "website/js/vendor/validate.min.js" %}"></script>
{% endblock %}

{# container content #}
{% block www_main_content %}
<div class="page_header_block contacts_header_block">
	<div>
		<h1>Cookie Policy</h1>
	</div>
</div>
<div class="container-fluid info_block info_block_color1">
	<div class="col-xs-12">



        <p dir="ltr"><strong>Informativa cookie estesa</strong></p>
<p dir="ltr"><strong></strong>Ai sensi della vigente normativa in materia di protezione dei dati personali (“<strong>Normativa Privacy</strong>”), incluso in Reg. UE 2016/679 (“<strong>GDPR</strong>”) e il Provvedimento del Garante per la protezione dei dati personali (“<strong>Garante Privacy</strong>”) n. 229/2014 sull’individuazione delle modalità semplificate per l'informativa e l'acquisizione del consenso per l'uso dei cookie, MotorJab Garage, in qualità di titolare del trattamento (il “<strong>Titolare</strong>”) Le fornisce le seguenti informazioni relative ai cookie installati sul dominio <a href="http://www.motorjab.it/">www.motorjab.it</a>  (il “<strong>Sito</strong>”).</p>
<p dir="ltr"><strong>Cosa sono i cookie?</strong></p>
<p dir="ltr"><span>I cookie sono dati creati da un server che sono memorizzati in file di testo sull’hard disk del computer o su qualsiasi dispositivo utilizzato dall’utente per accedere al Sito su Internet (smartphone, tablet) e permettono di raccogliere informazioni sulla navigazione effettuata dall’utente sul Sito.</span></p>
<p dir="ltr"><span>I cookie possono essere memorizzati in modo permanente sul Suo computer e avere una durata variabile (c.d. cookie persistenti), ma possono anche svanire con la chiusura del browser o avere una durata limitata (c.d. cookie di sessione).</span></p>
<p dir="ltr"><span>I cookie possono essere istallati dal Sito che sta visitando (c.d. cookie di prima parte) o possono essere istallati da altri siti web (c.d. cookie di terze parti).</span></p>
<p dir="ltr"><strong>Tipologie di Cookie utilizzati e relative finalità</strong></p>
<ul>
<li dir="ltr">
<p dir="ltr"><span>Cookie tecnici</span></p>
</li>
</ul>
<p dir="ltr"><span>Questi cookie di prima parte sono utilizzati per garantire e agevolare le attività strettamente necessarie al funzionamento del Sito per la normale navigazione del sito e permetterne le relative funzionalità (quali consentire ad esempio di autenticarsi ad aree riservate, di salvare la Sua sessione, le Sue preferenze di navigazione, di salvare prodotti nel carrello, ricordare alcuni criteri selezionali come la lingua, gestire la distribuzione del traffico, ecc.) e per raccogliere alcune informazioni in forma aggregata (anonima) sugli utenti.</span></p>
<ul>
<li dir="ltr">
<p dir="ltr"><span>Cookie analitici</span></p>
</li>
</ul>
<p dir="ltr"><span>Questi cookie sono utilizzati per raccogliere informazioni sull’utilizzo del Sito da parte degli utenti (numero di visitatori, pagine visitate, tempo di permanenza sul sito ecc.).</span></p>
<ul>
<li dir="ltr">
<p dir="ltr"><span>Cookie di profilazione</span></p>
</li>
</ul>
<p dir="ltr"><span>Sono quei cookie necessari a creare profili utenti al fine di inviare messaggi pubblicitari in linea con le preferenze manifestate dall’utente all’interno delle pagine del Sito.</span></p>
<p dir="ltr"><span>Il Sito non utilizza cookie di profilazione.</span></p>
<ul>
<li dir="ltr">
<p dir="ltr"><span>Cookie di profilazione – Social media</span></p>
</li>
</ul>
<p dir="ltr"><span>Questi cookie di terze parti permettono agli utenti di interagire con i social network (Facebook, Twitter, YouTube, Vimeo, ecc.) ed in particolare di condividere contenuti del sito attraverso i suddetti canali.</span></p>
<ul>
<li dir="ltr">
<p dir="ltr"><span>Cookie di profilazione – Advertising</span></p>
</li>
</ul>
<p dir="ltr"><span>Questi cookie di terze parti permettono di raccogliere dati ed interessi dei visitatori, al fine di costruire su di loro un profilo dettagliato utilizzato successivamente a fini di marketing. In questo modo, gli utenti saranno in grado di ricevere annunci pubblicitari personalizzati e mirati sulla base dei loro interessi.</span></p>
<p dir="ltr"><strong>Cookie utilizzati sul Sito</strong></p>
<p dir="ltr"><span>Le caratteristiche dei cookie utilizzati sul Sito sono illustrate nella tabella che segue.</span></p>
<p dir="ltr"><span>Si segnala che il Sito utilizza i seguenti cookie tecnici di prima parte:</span></p>
<p> </p>
<table class="listing">
<tbody>
<tr>
<td style="text-align: center; ">
<p><strong>Cookie</strong></p>
</td>
<td style="text-align: center; ">
<p><strong>Dominio</strong></p>
</td>
<td style="text-align: center; ">
<p><strong>Tipologia</strong></p>
</td>
<td style="text-align: center; ">
<p><strong>Durata</strong></p>
</td>
<td style="text-align: center; ">
<p><strong>Finalità</strong></p>
</td>
</tr>
<tr>
<td>
<p><span>complianceCookie&nbsp;</span></p>
</td>
<td>
<p><span>www.motorjab.it&nbsp;</span></p>
</td>
<td>
<p><span>tecnico&nbsp;</span></p>
</td>
<td>
<p>1 anno&nbsp;</p>
</td>
<td>
<p> Raccoglie l'avvenuta lettura della cookie policy e il relativo consenso.&nbsp;</p>
</td>
</tr>
<tr>
<td>
<p><span>csrftoken&nbsp;</span></p>
</td>
<td>
<p><span>www.motorjab.it&nbsp;</span></p>
</td>
<td>
<p><span>tecnico&nbsp;</span></p>
</td>
<td>
<p>1 anno&nbsp;</p>
</td>
<td>
<p> Per validare i dati ricevuti dai form.&nbsp;</p>
</td>
</tr>
</tbody>
</table>
<p> </p>
<p dir="ltr"><strong>Gestione delle preferenze sui cookie</strong></p>
<p dir="ltr"><span>Al momento del primo accesso a qualunque pagina del Sito, è presente un banner che contiene una informativa breve. Proseguendo la navigazione, mediante l’accesso ad altra area del sito o la selezione di un elemento dello stesso (ad esempio, di un'immagine o di un link), Lei fornisce il consenso all'uso dei cookie. Il consenso all’uso dei cookie è registrato con un “cookie tecnico”.</span></p>
<p dir="ltr"><span>Può conoscere le informative e le modalità per disabilitare i cookie di terze parti cliccando sui link contenuti nella voce “</span><span>Modalità di eliminazione</span><span>” delle tabelle sopra riportate.</span></p>
<p dir="ltr"><span>Può infine opporsi alla registrazione di cookie sul Suo hard disk configurando il suo browser di navigazione in modo da disabilitare i cookie. Di seguito riportiamo le modalità offerte dai principali browser:</span></p>
<ul>
<li dir="ltr">
<p dir="ltr"><strong>Internet Explorer</strong></p>
</li>
<ol>
<li dir="ltr">
<p dir="ltr"><span>Apri Internet Explorer;</span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span>Clicca sul pulsante “Strumenti” e quindi su “Opzioni Internet”;</span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span>Seleziona la scheda “Privacy” e sposta il dispositivo di scorrimento sul livello di privacy che desideri impostare (verso l’alto per bloccare tutti i cookie o verso il basso per consentirli tutti);</span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span>Quindi clicca su “Ok”.</span></p>
</li>
</ol>
<li dir="ltr">
<p dir="ltr"><strong>Google Chrome</strong></p>
</li>
<ol>
<li dir="ltr">
<p dir="ltr"><span>Apri Google Chrome;</span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span>Clicca sull’icona “Strumenti”;</span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span>Seleziona “Impostazioni” e successivamente “Impostazioni avanzate”;</span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span>Seleziona “Impostazioni dei contenuti” sotto la voce “Privacy”;</span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span>Nella scheda “Cookie” è possibile deselezionare i cookie e salvare le preferenze.</span></p>
</li>
</ol>
<li dir="ltr">
<p dir="ltr"><strong>Firefox</strong></p>
</li>
<ol>
<li dir="ltr">
<p dir="ltr"><span>Apri Firefox;</span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span>Premi il pulsante “Alt” sulla tastiera;</span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span>Nella barra degli strumenti situata nella parte superiore del browser, seleziona “Strumenti” e successivamente “Opzioni”;</span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span>Seleziona quindi la scheda “Privacy”;</span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span>Vai su “Impostazioni Cronologia” e successivamente su “Utilizza impostazioni personalizzate”;</span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span>Deseleziona “Accetta i cookie dai siti” e salva le preferenze.</span></p>
</li>
</ol>
<li dir="ltr">
<p dir="ltr"><strong>Opera</strong></p>
</li>
<ol>
<li dir="ltr">
<p dir="ltr"><span>Apri Opera;</span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span>Clicca su “Impostazioni” nel menu del browser e seleziona “Impostazioni”;</span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span>Seleziona “Preferenze rapide”;</span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span>Deseleziona “Abilita cookie”;</span></p>
</li>
</ol>
<li dir="ltr">
<p dir="ltr"><strong>Safari</strong></p>
</li>
<ol>
<li dir="ltr">
<p dir="ltr"><span>Apri Safari;</span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span>Scegli “Preferenze” nella barra degli strumenti, quindi seleziona il pannello “Sicurezza” nella finestra di dialogo che segue;</span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span>Nella sezione “Accetta cookie” è possibile specificare se e quando Safari deve salvare i cookie dai siti web. Per ulteriori informazioni clicca sul pulsante di Aiuto (contrassegnato da un punto interrogativo);</span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span>Per maggiori informazioni sui cookie che vengono memorizzati sul vostro computer, clicca su “Mostra cookie”.</span></p>
</li>
</ol></ul>
<p dir="ltr"><span>Dopo queste operazioni, tuttavia, alcune funzioni delle pagine web potrebbero non essere eseguite correttamente.</span></p>
<p dir="ltr"><strong>Comunicazione e diffusione dei dati</strong></p>
<p dir="ltr"><span>I dati raccolti utilizzando i cookie potranno essere trattati da dipendenti e collaboratori del Titolare in qualità di soggetti autorizzati al trattamento e/o amministratori di sistema.</span></p>
<p dir="ltr"><span>Tali dati potranno essere inoltre trattati da società di nostra fiducia che svolgono per nostro conto compiti di natura tecnica ed organizzativa. Queste società sono nostre dirette collaboratrici e svolgono la funzione di responsabile del trattamento. </span></p>
<p dir="ltr"><span>I dati raccolti utilizzando i cookie non saranno ceduti a terzi.</span></p>
<p dir="ltr"><span>I dati raccolti utilizzando i cookie di Google, Facebook, Twitter, Youtube potranno essere trasferiti da tali terze parti fuori dall’Unione Europea, in particolare negli Stati Uniti d’America, conformemente alla Normativa Privacy. In ogni caso, per ulteriori informazioni si prega di visitare le relative cookie policy di Google, Facebook, Twitter, Youtube.</span></p>
<p dir="ltr"><span>I dati raccolti utilizzando i cookie non saranno diffusi.</span></p>
<p dir="ltr"><strong>I Suoi diritti</strong></p>
<p dir="ltr"><span>In ogni momento potrà richiedere informazioni sul trattamento dei Suoi dati personali, ottenere l’aggiornamento, la rettifica o integrazione degli stessi, nonché ottenere la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge e opporsi al trattamento dei Tuoi Dati Personali secondo quanto previsto dal GDPR riportato per esteso in coda alla presente policy.</span></p>
<p dir="ltr"><span>Per l'esercizio dei Tuoi diritti puoi rivolgerti al Titolare del trattamento inviando una comunicazione scritta all’indirizzo sotto indicato oppure un’e-mail a info@motorjab.it.</span></p>
<p dir="ltr"><span>Titolare e responsabile del trattamento</span></p>
<p dir="ltr"><span>Titolare del trattamento è la ditta MotorJab Garage con sede legale in Via Bellini, 7, 10121 Torino TO P. IVA 00340188887,</span></p>
<p dir="ltr"><span>Responsabile del trattamento è la ditta MotorJab Garage con sede legale in Via Bellini, 7, 10121 Torino TO P. IVA 00340188887,</span></p>
<p><span><span> </span></span></p>
<p dir="ltr"><span><strong>Rinvio</strong></span></p>
<p dir="ltr"><span>Per ulteriori informazioni si rinvia alle Privacy Policy del presente Sito <a href="/privacy">http://www.motorjab.it/privacy</a>.</span></p>
<p><span><span><br /><br /></span></span></p>
<p dir="ltr"><span>Ultimo aggiornamento: 27 ottobre 2018</span></p>






	</div>
</div>
{% endblock %}
