{% extends "website/inc/www_base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}Servizio gommista a Torino, sostituzione pneumatici, cambio stagionale pneumatici a Torino | Un unico centro, tanti servizi per la tua auto{% endblock %}

{# page description #}
{% block description %}Effettuiamo la sostituzione degli pneumatici della tua auto, il cambio stagionale degli pneumatici e la riparazione di eventuali forature. Sostituzione pneumatici Torino, Gommista Torino{% endblock %}

{# page keywords #}
{% block keywords %}gommista,gommista Torino,sostituzione pneumatici,sostituzione pneumatici Torino,vendita pneumatici,vendita pneumatici Torino,riparazione pneumatici,riparazione pneumatici Torino,MotorJab Garage{% endblock %}

{# custom page css block #}
{% block custom_css %}{% endblock %}
{# Custom page script block #}
{% block custom_js %}
{% endblock %}
{% block extra_js %}
{% endblock %}

{# menu active element #}
{% block navigation_active_www_autoriparazioni %}active{% endblock %}
{% block second_navigation_active_www_riparazioni_auto_epoca %}submenu_active{% endblock %}

{# container content #}
{% block www_main_content %}
<div class="page_header_block service_header_block">
	<div><h1>Riparazione auto d'epoca a Torino</h1></div>
	<div><h2>La tua auto storica è in buone mani</h2></div>
</div>
<!-- three elements block -->
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-7 padding-xs-only padding-sm-only">
				<div class="col-lg-12 no_gutter">
					<h5>Riparazione e manutenzione auto storiche</h5>
				</div>
				<div class="col-lg-12 no_gutter">
					<h3>Manutenzione a regola d'arte</h3>
				</div>
				<div class="col-lg-12 no_gutter readable_text1">
					Se possiedi un'auto storica sai quanto è difficile prendersene cura. Grazie all'esperienza maturata negli anni, più di 40 di attività, MotorJab Garage è in grado di riparare con successo il tuo veicolo storico, revisionando il motore in ogni sua parte.<br />
					Dall'impianto elettrico alla meccanica, nella nostra officina ci mettiamo a disposizione per ricercare i pezzi di ricambio per la tua auto storica.<br />
				</div>
			</div>
			<div class="col-md-offset-1 col-md-4 text-xs-center text-md-right">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<a title="Autoriparazioni MotorJab Garage" href="{% static "website/img/gommista_1.jpg" %}" data-lightbox="image-1">
					<img class="img-responsive" alt="Autoriparazioni MotorJab Garage" src="{% static "website/img/gommista_1.jpg" %}">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-xs-12">
			<div class="jumbotron text-center">
				<h2>Contattaci adesso!</h2>
				<p>Vuoi richiedere un preventivo o prenotare un intervento?</p>
				<p><a title="Contattaci" href="/contattaci/" class="btn btn-primary btn-lg">Contattaci</a></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
