{% extends "website/inc/www_base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}MotorJab Garage | Tagliando completo a Torino{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# custom page css block #}
{% block custom_css %}{% endblock %}
{# Custom page script block #}
{% block custom_js %}
{% endblock %}
{% block extra_js %}
{% endblock %}

{# container content #}
{% block www_main_content %}
<div class="page_header_block service_header_block">
	<div><h1>Tagliando completo a Torino</h1></div>
	<div><h4>Perchè è importante farlo regolarmente</h4></div>
</div>
<!-- three elements block -->
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-7 padding-xs-only padding-sm-only">
				<div class="col-lg-12 no_gutter">
					<h3>Manteniamo la Garanzia del costruttore¹</h3>
				</div>
				<div class="col-lg-12 no_gutter readable_text1">
					Sapevi che sei libero di decidere che sia MotorJab Garage ad occuparsi della manutenzione del tuo veicolo, fin dal primo giorno, senza perdere la garanzia del costruttore?<br />Lo stabilisce il regolamento n. <b>461/2010 della Commissione Europea</b> che afferma, di fatto, la libera concorrenza nel mercato della manutenzione auto in tutti i paesi dell'Unione Europea. Questo testo determina due importanti passi avanti in favore del consumatore:<br />
					<ul>
						<li>Garantisce la libera scelta del centro assistenza per la manutenzione del veicolo. Anche quando la vettura è ancora in garanzia.¹</li>
						<li>Impone ai produttori dei veicoli di fornire - ai professionisti che si occupano della manutenzione e riparazione auto - tutte le caratteristiche dei veicoli e delle parti di ricambio necessarie per la riparazione.</li>
					</ul><br />
					Il Tagliando Costruttore in Garanzia effettuato presso un nostro centro verrà registrato sul libretto di garanzia o di manutenzione della tua auto, garantendoti la totale sicurezza della tua scelta.
				</div>
			</div>
			<div class="col-md-offset-1 col-md-4 text-xs-center text-md-right">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<img class="img-responsive" alt="Autoriparazioni MotorJab Garage" src="{% static "website/img/img1.png" %}">
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-offset-1 col-md-7 col-md-push-4 padding-xs-only padding-sm-only">
				<div class="col-lg-12 no_gutter readable_text1">
					Siamo un'azienda di Torino che opera nel settore dell'automotive, attiva sul mercato da oltre 40 anni, orgogliosa di essere arrivata alla 3° generazione. Offriamo al cliente ciò che le grandi multinazionali non danno: attenzione alla persona e cura nell'elaborare e risolvere piccoli e grandi problemi riguardanti le automobili.<br />Da noi potrete trovare familiarità cortesia e grande esperienza.<br /><br />
					<i>Abbiamo fatto della nostra passione il nostro lavoro.</i>
				</div>
				<div class="col-lg-12 no_gutter"><a href="/servizi">Scopri i nostri servizi</a></div>
			</div>
			<div class="col-md-4 col-md-pull-8 text-xs-center text-md-left">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<img class="img-responsive" alt="Autoriparazioni MotorJab Garage" src="{% static "website/img/img1.png" %}">
			</div>
		</div>
	</div>
</div>
{% endblock %}
