{% extends "website/inc/www_base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}MotorJab Garage | Meccanica, elettronica, gommista, scopri tutti i nostri servizi{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# custom page css block #}
{% block custom_css %}{% endblock %}
{# Custom page script block #}
{% block custom_js %}
<script src="{% static "website/js/vendor/jquery.scrollTo.min.js" %}"></script>
{% endblock %}
{% block extra_js %}
<script>
	/*$(document).ready(function(){
		$(document).on("click", ".serviceNavigationClick", function(){
			var anchorName = $(this).data("navigationAnchor");
			if (anchorName) {
				page_anchor(anchorName);
			}
		});

		page_anchor();
	});*/

	$(document).ready(function(){
		$(document).on("click", ".serviceNavigationClick", function(){
			var navMain = $("#bs-navbar-collapse-1");
			navMain.collapse('hide');
		});
	});
</script>
{% endblock %}

{# menu active element #}
{% block navigation_active_services %}active{% endblock %}

{# container content #}
{% block www_main_content %}
<div class="page_header_block service_header_block">
	<div><h1>I nostri servizi</h1></div>
	<div><h4>Meccanica, elettronica, gommista: scopri tutto quello che facciamo</h4></div>
</div>
<!-- three elements block -->
<div class="page_anchor" id="_meccanica">&nbsp;</div>
<div class="row page_title_separator">
	<div class="col-sm-12">
		<h2>Meccanica</h2>
		<div class="readable_text1">
			MotorJab Garage a Torino fornisce tutti i servizi di cui la tua auto ha bisogno: sostituzione sistema di scarico, sostituzione freni, manutenzione e riparazione dell'aria condizionata, sostituzione olio, riparazione e sostituzione degli ammortizzatori, tagliando auto e tanto altro!
		</div>
	</div>
</div>
<div class="row elements_container no_gutter">
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/tagliando-cambio-olio.png" %}" alt="">
			<div class="block-label">Tagliando completo</div>
			<div class="readable_text1">
Un tagliando puntuale è fondamentale per assicurare un corretto funzionamento della tua auto: fare in modo che sia sempre sicura su strada e garantire longevità al tuo motore sono i nostri obiettivi primari. Inoltre, tagliandando costantemente la tua auto potrai prevenire inutili guasti al tuo motore, evitando di incorrere in una riparazione dietro ad un'altra rendendo, il tutto più dispendioso.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/sistema-frenante.png" %}" alt="">
			<div class="block-label">Sistema frenante</div>
			<div class="readable_text1">
Il sistema frenante è uno dei principali elementi di sicurezza attiva del veicolo. Dischi e pastiglie – i materiali d’attrito dei freni – devono essere in condizioni ottimali, quindi richiedono una manutenzione e sostituzione periodica, perché soggetti a usura. Un controllo dei freni è consigliabile ogni 10.000 km, ma è da effettuare immediatamente qualora insorgessero vibrazioni, rumori e odori sgradevoli durante la frenata.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/ammortizzatori.png" %}" alt="">
			<div class="block-label">Ammortizzatori</div>
			<div class="readable_text1">
Gli ammortizzatori sono tra i componenti più importanti delle sospensioni di un'auto insieme agli pneumatici e alla molla. Assicurano una buona connessione tra la strada e lo pneumatico. Gli ammortizzatori assorbono l'effetto di rimbalzo delle gomme a terra e le vibrazioni, rendendo la guida più stabile e comfortevole. Ti consigliamo di far controllare gli ammortizzatori ogni 20.000 km e di farli sostituire ogni 50.000 km.
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/distribuzione.png" %}" alt="">
			<div class="block-label">Distribuzione</div>
			<div class="readable_text1">
La cinghia di distribuzione è fondamentale per il funzionamento del motore (in alcuni veicoli è presente una catena), in quanto regola il sincornismo tra valvole e pistoni. E' di vitale importanza sostituirla nei chilometri prestabiliti dalla casa costruttrice.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/frizione.png" %}" alt="">
			<div class="block-label">Frizione</div>
			<div class="readable_text1">
La frizione serve a trasferire o isolare il movimento dal motore al cambio. Generalmente è formata da tre componenti principali: disco, spingidisco e cuscinetto reggispinta. La durata di una frizione dipende molto dallo stile di guida, ma in media ha una durata di 60.000 km.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/sistema-di-scarico.png" %}" alt="">
			<div class="block-label">Impianto di scarico</div>
			<div class="readable_text1">
L'impianto di scarico è un sistema complesso, composto da diversi componenti. Oltre a influire sulle prestazione del motore, aiuta a proteggere l'ambiente. Catalizzatore, DPF o FAP (filtro antiparticolato) sono una parte cruciale nel processo di pulizia dei gas di scarico del tuo veicolo, per questo si raccomanda di effettuare un controllo ogni 20.000 km.
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/climatizzatore.png" %}" alt="">
			<div class="block-label">Climatizzatore</div>
			<div class="readable_text1">
Dal <b>ricaricare l'aria condizionata</b> al <b>sostituire un filtro disidratatore</b>, MotorJab Garage può diagnosticare qualsiasi malfunzionamento meccanico e idraulico del circuito refrigerante o un malfunzionamento elettrico dell'impianto d'aria condizionata.
			</div>
		</div>
	</div>
</div>
<div class="page_anchor" id="_elettronica">&nbsp;</div>
<div class="row page_title_separator">
	<div class="col-sm-12">
		<h2>Elettronica</h2>
		<div class="readable_text1">
			MotorJab Garage a Torino si occupa di elettronica dell'auto: montaggio di impianti autoradio, sensori di parcheggio, kit vivavoce, navigatori e antifurti satellitari, accessori vari, aggiornamenti software delle case madri (es. Blue&amp;Me). Diagnosi computerizzata di sistemi di sicurezza (ABS - Aribag), centraline per la gestione del motore, iniezioni elettroniche, accensioni e molto altro.
		</div>
	</div>
</div>
<div class="row elements_container no_gutter">
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/diagnosi-elettronica.png" %}" alt="">
			<div class="block-label">Diagnosi elettronica</div>
			<div class="readable_text1">
La diagnosi elettronica consente di individuare problemi o guasti su parti elettriche ed elettroniche. Tutto questo è possibile grazie all’utilizzo di apparecchiature che comunicano con le centraline del veicolo. Ogni guasto è identificato da un codice univoco, per cui non serve dover procedere per tentativi e l’esame sarà rapido e indolore.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/sostituzione-ricarica-batteria.png" %}" alt="">
			<div class="block-label">Sostituzione / Carica batteria</div>
			<div class="readable_text1">
La batteria è l'elemento fondamentale per l'avviamento del veicolo, spesso i sintomi di questo componente vengono ignorati, per esempio delle accensioni più lunghe e difficoltose, come conseguenza non si riuscirà più a mettere in moto l'auto, in questo caso si può procedere ricaricando la batteria, oppure, nel caso di danni irreparabili, procedere con la sostituzione di quest'ultima.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/lampadine.png" %}" alt="">
			<div class="block-label">Sostituzione lampadine</div>
			<div class="readable_text1">
Per godere sempre di un'ottima sicurezza e visibilità in tutte le condizioni è necessario far sostituire eventuali lampadine bruciate, nella maggior parte dei casi sarà il veicolo stesso a segnalarne un malfunzionamento tramite una spia sul cruscotto.
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/efficienza-impianto-elettrico.png" %}" alt="">
			<div class="block-label">Efficienza impianto elettrico</div>
			<div class="readable_text1">
Controllare l'efficienza di un impianto elettrico è fondamentale per garantire al veicolo un perfetto funzionamento sia in fase di avvio, che durante l'utilizzo. Ci sono molti componenti che possono influire negativamente sull'impianto elettrico, batteria, alternatore e altri componenti elettrici vanno monitorati tramite una diagnosi specifica per poterne garantire un funzionamento corretto. Eseguire questi controlli ti eviterà brutte sorpese future.
			</div>
		</div>
	</div>
</div>
<div class="page_anchor" id="_gommista">&nbsp;</div>
<div class="row page_title_separator">
	<div class="col-sm-12">
		<h2>Gommista</h2>
		<div class="readable_text1">
			MotorJab Garage è un servizio professionale di gommista a Torino, siamo in grado di riparare, sostituire ed equilibrare i tuoi pneumatici, ci occupiamo anche della vendita delle migliori marche di pneumatici.<br />Utilizziamo apparecchiature di ultimissima generazione in grado di preservare e non scalfire i tuoi preziosi cerchi in lega.
		</div>
	</div>
</div>
<div class="row elements_container no_gutter">
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/sostituzione-riparazione.png" %}" alt="">
			<div class="block-label">Sostituzione / Riparazione</div>
			<div class="readable_text1">
				Il nostro centro è in grado di riparare piccole forature e di trovare il pneumatico più adatto alla tua vettura ed alla stagione, dagli penumatici estivi a quelli invernali, a prezzi competitivi. I nostri macchinari di ultimissima generazione si avvalgono di un sistema all'avanguardia per preservare anche i cerchi in lega più preziosi, senza neanche sfiorarli.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/rimessaggio-gomme.png" %}" alt="">
			<div class="block-label">Custodia pneumatici</div>
			<div class="readable_text1">
				Offriamo il servizio di custodia pneumatici per tutti i clienti che necessitano di praticità nella gestione delle gomme. A seguito di un cambio stagionale, per esempio, custodiremo le tue gomme in un ambiente asciutto e con temperatura costante, per preservarne al meglio le loro caratteristiche.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/equilibratura-gomme.png" %}" alt="">
			<div class="block-label">Equilibratura</div>
			<div class="readable_text1">
				L'equilibratura degli pneumatici è fondamentale per evitare scompensi pericolosi e vibrazioni sul volante, è un'operazione che andrebbe eseguita a seguito della sostituzione di ogni pneumatico.
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-7 padding-xs-only padding-sm-only">
				<div class="col-lg-12 no_gutter">
					<h5>Tutto quello di cui hai bisogno</h5>
				</div>
				<div class="col-lg-12 no_gutter">
					<h3>...e molto altro</h3>
				</div>
				<div class="col-lg-12 no_gutter readable_text1">
					Hai bisogno di consigli o suggerimenti per la tua auto? Qualche rumore anomalo non ti permette di guidare con sicurezza?<br />Passa in officina (Via Bellini, 7, 10121 Torino TO) per un'analisi gratuita, oppure comunicaci i tuoi dubbi/domande, saremo lieti di risponderti e di analizzare ogni tuo problema.
				</div>
				<div class="col-lg-12 no_gutter"><a href="/contattaci/">Contattaci</a></div>
			</div>
			<div class="col-md-offset-1 col-md-4 text-xs-center text-md-right">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<a href="{% static "website/img/servizi.png" %}" data-lightbox="image-1">
					<img class="img-responsive" alt="Autoriparazioni MotorJab Garage" src="{% static "website/img/servizi.png" %}">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-6 text-center">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<a href="{% static "website/img/attrezzi_7.jpg" %}" data-lightbox="servizi_slide">
					<img class="img-responsive" alt="Autoriparazioni MotorJab Garage" src="{% static "website/img/attrezzi_7.jpg" %}">
				</a>
			</div>
			<div class="col-md-6 text-center">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<a href="{% static "website/img/checkup.jpg" %}" data-lightbox="servizi_slide">
					<img class="img-responsive" alt="Autoriparazioni MotorJab Garage" src="{% static "website/img/checkup.jpg" %}">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-xs-12">
			<div class="jumbotron text-center">
				<h2>Vuoi ricevere uno sconto del 30%<br />da utilizzare sui nostri servizi?</h2>
				<p>Registrati adesso, riceverai subito il tuo sconto!</p>
				<p><a href="/ricevi-offerte/" class="btn btn-primary btn-lg">Ottieni sconto</a></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
