{% extends "website/inc/www_base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}Servizio di autoriparazioni a Torino - Meccanica - Elettronica | Un unico centro, tanti servizi per la tua auto{% endblock %}

{# page description #}
{% block description %}Servizio autoriparazioni Torino. Ci occupiamo della manutenzione sia della parte meccanica che elettronica della tua auto. Da noi potrai trovare tutti i servizi di cui la tua auto ha bisogno.{% endblock %}

{# page keywords #}
{% block keywords %}autoriparazioni,autoriparazioni Torino,meccanico,meccanico Torino,riparazioni auto,riparazioni auto Torino,elettrauto,elettrauto Torino,MotorJab Garage{% endblock %}

{# custom page css block #}
{% block custom_css %}{% endblock %}
{# Custom page script block #}
{% block custom_js %}
{% endblock %}
{% block extra_js %}
{% endblock %}

{# menu active element #}
{% block navigation_active_services %}active{% endblock %}

{# container content #}
{% block www_main_content %}
<div class="page_header_block service_header_block">
	<div><h1>Servizio autoriparazioni ed elettrauto a Torino</h1></div>
	<div><h2>Meccatronica...ovvero l'insieme di meccanica + elettronica</h2></div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-offset-1 col-md-7 col-md-push-4 padding-xs-only padding-sm-only">
				<div class="col-lg-12 no_gutter">
					<h5>Una figura professionale costantemente aggiornata</h5>
				</div>
				<div class="col-lg-12 no_gutter">
					<h3>Il nuovo "meccanico"</h3>
				</div>
				<div class="col-lg-12 no_gutter readable_text1">
					La meccanica e l'impianto elettrico di un auto si sono evolute a tal punto da fondersi in un'unica definizione: <b>meccatronica</b>.<br />Con l'arrivo di nuove tipologie di mezzi, come i <b>veicoli ibridi ed elettrici</b>, è nato il bisogno di creare una figura professionale maggiormente preparata, facente parte di una nuova categoria di "meccanico".<br />Non esiste più il meccanico o l'elettrauto ma un'unica figura professionale tecnicamente preparata in grado di operare sia sulla meccanica sia sulla parte elettro-elettronica. Si riducono così i tempi sinergigi di qualsiasi tipo di intervento.<br />MotorJab Garage a Torino è in grado, grazie a costanti aggiornamenti, di operare qualsiasi intervento su tutti i tipi di auto.
				</div>
				<div class="col-lg-12 no_gutter"><a title="I nostri servizi" href="/servizi">Scopri i nostri servizi</a></div>
			</div>
			<div class="col-md-4 col-md-pull-8 text-xs-center text-md-left">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<a title="Autoriparazioni MotorJab Garage" href="{% static "website/img/meccatronica.jpg" %}" data-lightbox="meccatronica">
					<img class="img-responsive" alt="Autoriparazioni MotorJab Garage" src="{% static "website/img/meccatronica.jpg" %}">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2 pageContainerAction">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-offset-2 col-md-8 text-center">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<a title="Autoriparazioni MotorJab Garage" href="{% static "website/img/attrezzi_13.jpg" %}" data-lightbox="meccatronica_slide">
					<img class="img-responsive" alt="Autoriparazioni MotorJab Garage" src="{% static "website/img/attrezzi_13.jpg" %}">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-xs-12">
			<div class="jumbotron text-center">
				<h2>Vuoi ricevere uno sconto del 30%<br />da utilizzare sui nostri servizi?</h2>
				<p>Registrati adesso, riceverai subito il tuo sconto!</p>
				<p><a title="Ottieni sconto" href="/ricevi-offerte/" class="btn btn-primary btn-lg">Ottieni sconto</a></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
