{% extends "website/inc/www_base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}MotorJab Garage | I nostri servizi{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# custom page css block #}
{% block custom_css %}{% endblock %}
{# Custom page script block #}
{% block custom_js %}
<script src="{% static "website/js/vendor/jquery.scrollTo.min.js" %}"></script>
{% endblock %}
{% block extra_js %}
<script>
	page_anchor();
	$(document).ready(function(){
		$(document).on("click", ".serviceNavigationClick", function(){
			var anchorName = $(this).data("navigationAnchor");
			if (anchorName) {
				page_anchor(anchorName);
			}
		});
	})
</script>
{% endblock %}

{# menu active element #}
{% block navigation_active_booking_services %}active{% endblock %}

{# container content #}
{% block www_main_content %}
<div class="page_header_block service_header_block">
	<div><h1>Prenota un servizio</h1></div>
	<div><h4>Prenota in anticipo per non trovare coda</h4></div>
</div>
<!-- three elements block -->
<div id="_meccanica" class="row page_title_separator">
	<div class="col-sm-12">
		<h2>Meccanica</h2>
		<div class="readable_text1">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
		</div>
	</div>
</div>
<div class="row elements_container no_gutter">
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/tagliando-cambio-olio.png" %}" alt="">
			<div class="block-label">Cambio olio, tagliando completo</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/sistema-frenante.png" %}" alt="">
			<div class="block-label">Sistema frenante</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/ammortizzatori.png" %}" alt="">
			<div class="block-label">Ammortizzatori</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/distribuzione.png" %}" alt="">
			<div class="block-label">Distribuzione</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/frizione.png" %}" alt="">
			<div class="block-label">Frizione</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/sistema-di-scarico.png" %}" alt="">
			<div class="block-label">Sistema di scarico</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/climatizzatore.png" %}" alt="">
			<div class="block-label">Climatizzatore</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
	</div>
</div>
<div id="_elettronica" class="row page_title_separator">
	<div class="col-sm-12">
		<h2>Elettronica</h2>
		<div class="readable_text1">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
		</div>
	</div>
</div>
<div class="row elements_container no_gutter">
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/diagnosi-elettronica.png" %}" alt="">
			<div class="block-label">Diagnosi elettronica</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/sostituzione-ricarica-batteria.png" %}" alt="">
			<div class="block-label">Sostituzione / Ricarica batteria</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/lampadine.png" %}" alt="">
			<div class="block-label">Lampadine</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/efficienza-impianto-elettrico.png" %}" alt="">
			<div class="block-label">Efficienza impianto elettrico</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
	</div>
</div>
<div id="_gommista" class="row page_title_separator">
	<div class="col-sm-12">
		<h2>Gommista</h2>
		<div class="readable_text1">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
		</div>
	</div>
</div>
<div class="row elements_container no_gutter">
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/sostituzione-riparazione.png" %}" alt="">
			<div class="block-label">Sostituzione / Riparazione</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/rimessaggio-gomme.png" %}" alt="">
			<div class="block-label">Rimessaggio</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/equilibratura-gomme.png" %}" alt="">
			<div class="block-label">Equilibratura</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-7 padding-xs-only padding-sm-only">
				<div class="col-lg-12 no_gutter">
					<h4>Bielle, cilindri, pistoni e...</h4>
				</div>
				<div class="col-lg-12 no_gutter">
					<h1>MotorJab Garage</h1>
				</div>
				<div class="col-lg-12 no_gutter readable_text1">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus. Ut egestas ex eu convallis elementum. Nam eros ligula, commodo ut tortor et, venenatis feugiat augue. In ut ultrices massa, ut rutrum tortor. Cras lobortis purus finibus tortor euismod condimentum.
				</div>
				<div class="col-lg-12 no_gutter"><a href="/howto/concorsi-a-tema/">Maggiori informazioni</a></div>
			</div>
			<div class="col-md-offset-1 col-md-4 text-xs-center text-md-right">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<img class="img-responsive" alt="Autoriparazioni MotorJab Garage" src="{% static "website/img/img1.png" %}">
			</div>
		</div>
	</div>
</div>
{% endblock %}
