{% extends "website/inc/www_base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}MotorJab Garage | Privacy &amp; GDPR{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# custom page css block #}
{% block custom_css %}
<style>
	.coupon_image_container { margin-top: 40px; margin-bottom: 20px; }
</style>
{% endblock %}
{# Custom page script block #}
{% block custom_js %}
{# howto: https://validatejs.org #}
<script src="{% static "website/js/vendor/validate.min.js" %}"></script>
{% endblock %}

{# container content #}
{% block www_main_content %}
<div class="page_header_block contacts_header_block">
	<div>
		<h1>Privacy &amp; GDPR</h1>
	</div>
</div>
<div class="container-fluid info_block info_block_color1">
	<div class="col-xs-12">

<p align="center"><span><b><span>Informativa sulla Privacy per il sito web </span><span>MotorJab Garage</span></b></span></p>
<p class="western" style="text-align: center; "><span>In vigore dal </span><span><b>24.05.2018</b></span></p>
<p class="western" style="text-align: center; "> </p>
<h4 class="western"><span><span>Ragioni dell’Informativa/La Sua privacy è importante per noi</span></span></h4>
<p class="western"><span>La presente informativa sulla privacy (l’“</span><span><b>Informativa Privacy</b></span><span>”) contiene informazioni importanti sui Suoi dati personali che vengono raccolti visitando il presente sito web </span><span>www.motorjab.it</span><span> (il “</span><span><b>Sito</b></span><span>) come utente non registrato (l’“</span><span><b>Utente</b></span><span>”) al fine di poter visualizzare e/o usufruire dei servizi offerti sul Sito (i “</span><span><b>Servizi</b></span><span> ”).</span></p>
<p class="western"><span>In particolare, la</span><span> nostra ditta </span><span><i> MotorJab Garage </i></span><span>, con sede legale in </span><span><i>Via Bellini, 7, 10121 Torino TO</i>, e P. IVA </span></span><span><span><span><span><span><span><span><span>00340188887</span></span></span></span></span></span></span></span><span><i><span></span></i></span><span><span>, in qualità di titolare del trattamento dei dati (la “</span><span><b>Ditta</b></span><span>” o il “</span><span><b>Titolare</b></span><span>”), La informa, ai sensi della vigente normativa in materia di protezione dei dati personali (la “</span><span><b>Normativa Privacy</b></span><span>”), ivi incluso il Regolamento (UE) 2016/679 (il “</span><span><b>GDPR</b></span><span>”), che tratterà i dati dei propri Utenti con le modalità e per le finalità di seguito descritte. per </span>
<span>i termini della presente Informativa Privacy si applicano solo ed esclusivamente al Sito e non anche ad altri siti web di proprietà del Titolare o di proprietà di soggetti terzi cui l’Utente dovesse accedere attraverso i collegamenti eventualmente contenuti nel Sito. Qualora l’Utente dovesse accedere ad altro sito internet, si consiglia di leggere le informazioni in merito al trattamento dei dati personali applicabile al sito visitato.</span></p>
<h4 class="western">Accettazione</h4>
<p class="western"><span>Visitando il Sito, utilizzando i suoi Servizi o interagendo con la Ditta, l’Utente conferma di aver letto e compreso la presente Informativa Privacy e di accettare che la Ditta raccolga, utilizzi, archivi, trasmetta e divulghi i dati personali raccolti attraverso il Sito in conformità alla presente Informativa Privacy e alla Normativa Privacy. </span><span><b></b></span><span>L</span><span>a Ditta potrebbe richiedere all’Utente di fornire il proprio consenso (ad esempio, spuntando una casella), ove ritenga opportuno salvaguardare i suoi diritti ovvero laddove prescritto dalle normative vigenti. </span></p>
<p class="western"><span>Qualora non accetti le condizioni della presente Informativa Privacy, l’Utente è pregato di non visitare il presente Sito, non utilizzare altrimenti il presente Sito o inviare i propri dati personali, ovvero non fornire il proprio consenso quando tale opzione gli sia offerta ai sensi della Normativa Privacy.</span></p>
<p class="western"><span>Il Titolare si riserva il diritto di apportare modifiche alla presente Privacy Policy in qualunque momento dandone pubblicità agli Utenti su questa pagina. Si prega dunque di consultare spesso questa pagina, prendendo come riferimento la data di ultima modifica ivi indicata. Nel caso di mancata accettazione delle modifiche apportate alla presente Privacy Policy, l'Utente è tenuto a cessare l'utilizzo di questo Sito e può richiedere al Titolare di rimuovere i propri dati personali. Salvo quanto diversamente specificato, la precedente privacy policy continuerà ad applicarsi ai dati personali sino a quel momento raccolti.</span></p>
<p class="western"> </p>
<p class="western"><span>La presente Informativa Privacy contiene informazioni importanti su quanto segue:</span></p>
<p class="western"><span><b>1. TIPOLOGIA DI DATI TRATTATI DALLA SOCIETÀ ATTRAVERSO IL SITO</b></span></p>
<p class="western"><span><b>2. BASE GIURIDICA E FINALITÀ DEL TRATTAMENTO</b></span></p>
<p class="western"><span><b>3. NATURA DEL CONFERIMENTO DEI DATI </b></span></p>
<p class="western"><span><b>4. TRATTAMENTO DEI DATI E MODALITÀ DEL TRATTAMENTO</b></span></p>
<p class="western"><span><b>5. ACCESSO AI DATI PERSONALI </b></span></p>
<p class="western"><span><b>6. COMUNICAZIONE DEI DATI PERSONALI</b></span></p>
<p class="western"><span><b>7. TRASFERIMENTO DEI DATI PERSONALI EXTRA UE</b></span></p>
<p class="western"><span><b>8. I SUOI DIRITTI</b></span></p>
<p class="western"><span><b>9.</b></span><b> </b><span><b>ESERCIZIO DEI SUOI DIRITTI E RECLAMO AL GARANTE DELLA PROTEZIONE DEI DATI PERSONALI</b></span></p>
<p class="western"><span><b>10. TITOLARE, RESPONSABILE DEL TRATTAMENTO E RESPONSABILE DELLA PROTEZIONE DEI DATI PERSONALI</b></span></p>
<p class="western"> </p>
<p class="western"> </p>
<p class="western"><strong>1. TIPOLOGIA DI DATI TRATTATI DALLA SOCIETÀ ATTRAVERSO IL SITO</strong></p>
<p class="western"><span>Ai sensi della Normativa Privacy, il Titolare tratta i seguenti dati personali da Lei comunicati (i Suoi “</span><span><b>Dati Personali</b></span><span>”) durante la navigazione sul Sito</span><span><b></b></span><span>:</span></p>
<ol>
<li>
<p><span><span>dati comuni identificativi (quali, a titolo esemplificativo e non esaustivo: nome, cognome, indirizzo e-mail, ecc.);</span></span></p>
</li>
</ol>
<p class="western"><strong>1.1  Dati ottenuti durante la navigazione di un Utente sul Sito</strong></p>
<p class="western"><span>I sistemi informatici, la tecnologia cookie e le procedure software utilizzate per il funzionamento del Sito acquisiscono, nel corso del loro normale esercizio, alcuni dati la cui trasmissione è implicita nell’uso della rete Internet. Si tratta di informazioni che non sono raccolte per essere associate a soggetti interessati identificati, ma che per loro stessa natura potrebbero, attraverso elaborazioni ed associazioni con dati detenuti da terzi, permettere di identificare gli Utenti navigatori. </span></p>
<p class="western"><span>In questa categoria di dati rientrano, ad esempio, gli indirizzi IP o i nomi di dominio dei computer utilizzati dagli Utenti che si connettono al Sito, le pagine visitate dagli Utenti all’interno dello stesso, i nomi di dominio e gli indirizzi dei siti internet dai quali l’Utente ha effettuato l’accesso (mediante </span><span><i>referral</i></span><span>) al Sito, gli indirizzi in notazione URI (</span><span><i>Uniform Resource Identifier</i></span><span>) delle risorse richieste, l’orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server web, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal server web, ed altri parametri relativi al tipo di browser (es. Internet Explorer, Google Chrome, Firefox), sistema operativo (es. Windows) e all’ambiente informatico dell’Utente.</span></p>
<p class="western"><span>Tali dati sono raccolti mediante cookie tecnici proprietari di prima parte e cookie analitici di terza parte. Per ulteriori informazioni sui dati di navigazione, si invitano gli Utenti a consultare l’</span><span><b>Informativa Cookie</b></span><span> del Sito.</span><span> </span></p>
<p class="western">L'Utente si assume la responsabilità della veridicità dei dati personali forniti, pubblicati o condivisi mediante questo Sito e garantisce di avere il diritto di comunicarli o diffonderli, liberando il Titolare da qualsiasi responsabilità verso terzi</p>
<p class="western"> </p>
<p class="western"><strong>2. BASE GIURIDICA E FINALITÀ DEL TRATTAMENTO</strong></p>
<p class="western"><span>Il trattamento dei Suoi dati, raccolti tramite il Sito, ha come base giuridica il suo consenso. </span></p>
<p class="western"><span>2.1 Desideriamo inoltre informarLa che i Suoi dati personali saranno trattati, senza il Suo preventivo consenso, ai sensi dell’art. 6 GDPR, per le seguenti finalità (le “</span><span><b>Finalità</b></span><span>”):</span></p>
<ol type="a">
<li>effettuare la manutenzione e assistenza tecnica necessaria per assicurare il corretto funzionamento del Sito e dei servizi ad esso connessi;</li>
<li>migliorare la qualità e la struttura del Sito, nonché per creare nuovi Servizi, funzionalità e/o caratteristiche del medesimo;</li>
<li> consentire al Titolare di fornire i propri Servizi;</li>
<li>permettere alla Ditta di esercitare i propri diritti in sede giudiziaria e per la gestione del contenzioso;</li>
<li> l’adempimento di obblighi di legge e/o regolamentari;</li>
<li>la collaborazione con pubbliche autorità, la prevenzione e repressione di atti illeciti, anche in via disciplinare;</li>
<li> per eventuali fini statistici e storici.</li>
</ol>
<p class="western"><span></span></p>
<p class="western"><span>Si segnala agli Utenti con i quali la Ditta abbia intrattenuto rapporti contrattuali, che la Ditta potrà inviare loro comunicazioni relative a servizi e prodotti analoghi a quelli che sono stati oggetto dei predetti rapporti, nel rispetto di tutte le disposizioni di legge e linee guida applicabili, salvo loro dissenso ai sensi dell’art. 21, paragrafo 2 GDPR.</span></p>
<p class="western"><strong>3. NATURA DEL CONFERIMENTO DEI DATI</strong></p>
<p class="western"><span>Il conferimento dei dati da parte dell’Utente è obbligatorio per le finalità di servizio di cui ai punto 2.1 della presente informativa. L'eventuale rifiuto di fornire detti dati potrà comportare l'impossibilità di fruire dei servizi offerti dalla Ditta mediante il Sito.</span></p>
<p class="western"><strong>4. TRATTAMENTO DEI DATI E MODALITÀ DEL TRATTAMENTO</strong></p>
<p class="western"><span>La informiamo inoltre che il trattamento dei Suoi dati personali, ai sensi dell’art. 4 GDPR, potrà consistere nelle seguenti attività </span><span>(il “</span><span><b>Trattamento</b></span><span>”)</span><span>: raccolta, registrazione, organizzazione, strutturazione, conservazione, adattamento o modifica, estrazione, consultazione, uso, comunicazione mediante trasmissione, qualsiasi altra forma di messa a disposizione, raffronto o interconnessione, limitazione, cancellazione o distruzione dei dati.</span></p>
<p class="western"><span>La informiamo inoltre che i Suoi Dati Personali:</span></p>
<ul>
<li>
<p><span><span>saranno trattati nel rispetto dei principi di liceità, correttezza e trasparenza;</span></span></p>
</li>
<li>
<p><span><span>saranno raccolti per le legittime Finalità sopra determinate;</span></span></p>
</li>
<li>
<p><span><span>saranno adeguati, pertinenti e limitati a quanto necessario rispetto alle Finalità per le quali sono trattati;</span></span></p>
</li>
<li>
<p><span><span>saranno trattati in modo tale da garantire un’adeguata sicurezza dal rischio di distruzione, perdita, modifica, divulgazione o accesso non autorizzato mediante misure tecniche ed organizzative di sicurezza;</span></span></p>
</li>
</ul>
<p class="western"><span>Il Trattamento dei Suoi Dati Personali potrà essere effettuato mediante il supporto di mezzi cartacei, strumenti automatizzati, informatici o telematici, con modalità organizzative e con logiche strettamente correlate alle Finalità indicate.</span></p>
<p class="western"><span>Il Titolare utilizza le più adeguate misure tecnologiche e di sicurezza (elettroniche, informatiche, fisiche, organizzative e procedurali) per garantire la sicurezza e riservatezza dei dati trattati. Tali misure comprendono il mantenimento di un sistema sicuro di conservazione ed utilizzo dei dati basato su crittografia, rilevamento delle intrusioni e software di prevenzione e protezione.</span></p>
<p class="western"><span>L’Utente prende tuttavia atto che la stessa comunicazione di dati personali per mezzo di siti internet presenta dei rischi legati alla divulgazione di tali dati e che nessun sistema è totalmente sicuro od a prova di manomissione e/o intrusione da parte di terzi.</span></p>
<p class="western"><strong>5. ACCESSO AI DATI PERSONALI</strong></p>
<p class="western"><span>Ferme restando le comunicazioni eseguite in adempimento di obblighi di legge e/o regolamentari, i Suoi Dati Personali potranno essere resi accessibili, per le Finalità, a:</span></p>
<ol type="a">
<li>
<p><span><span>Dipendenti e/o collaboratori dei nostri uffici di sede o di territorio, debitamente autorizzati dal Titolare, nella loro qualità di soggetti autorizzati al Trattamento e/o amministratori di sistema.</span></span></p>
</li>
</ol>
<p class="western"><strong>6. COMUNICAZIONE DEI DATI PERSONALI</strong></p>
<p class="western"><span>Senza l’espresso consenso dell’Utente (ai sensi dell’art. 6 lett. b) e c) del GDPR), il Titolare potrà comunicare i dati dell’Utente per le Finalità di servizio di cui ai punti 2.1, lettere. d) e f) a organismi di vigilanza e/o di controllo, Autorità giudiziarie nonché a tutti gli altri soggetti ai quali la comunicazione sia obbligatoria per legge per l’espletamento delle Finalità dette, in qualità di autonomi titolari del trattamento.</span></p>
<p class="western"><span>I dati degli Utenti non saranno diffusi al pubblico o a soggetti indeterminati.</span></p>
<p class="western"><span>Oltre al Titolare, in alcuni casi, potrebbero avere accesso ai Dati Personali e trattarli, in Italia e all’estero, per le Finalità di cui sopra categorie di terzi coinvolti nell'organizzazione del Titolare stesso o del sito – e a loro volta nominati, se necessario, Responsabili del Trattamento da parte del Titolare – quali, a titolo esemplificativo: </span></p>
<ul>
<li>
<p><span><span><span>fornitori di servizi tecnici terzi;</span></span></span></p>
</li>
<li>
<p><span><span><span>corrieri e servizi postali; </span></span></span></p>
</li>
<li>
<p><span><span><span>hosting provider;</span></span></span></p>
</li>
<li>
<p><span><span><span>società informatiche;</span></span></span></p>
</li>
<li>
<p><span><span><span>professionisti e consulenti (in materia legale, commerciale, amministrativa, fiscale, tributaria, urbanistica, ambientale, di qualità e sicurezza, di certificazione di bilancio ecc.) a cui siano affidati incarichi per i quali sia necessaria la conoscenza dei dati personali dell’Utente;</span></span></span></p>
</li>
<li>
<p><span><span><span>agenzie di comunicazione; </span></span></span></p>
</li>
<li>
<p><span><span><span>Aziende di credito </span></span></span></p>
</li>
<li>
<p><span><span><span>Ditta di assicurazione,</span></span></span></p>
</li>
</ul>
<p class="western"><strong>7. TRASFERIMENTO DEI DATI PERSONALI EXTRA UE</strong></p>
<p class="western"><span>I Suoi Dati Personali non saranno soggetti a trasferimento nei confronti di soggetti terzi rispetto a quelli indicati nella presente informativa.</span></p>
<p class="western"><span>I suoi Dati Personali potranno essere comunicati anche all’estero per le sole Finalità. </span></p>
<p class="western"><span>Un eventuale trasferimento dei Suoi Dati Personali in Paesi extra UE potrà avvenire unicamente nei termini e con le garanzie previsti dalla Normativa Privacy.</span></p>
<p class="western"><strong>8. I SUOI DIRITTI</strong></p>
<p class="western"><span>La informiamo che, nella sua qualità di interessato, a norma di legge, avrà il diritto di revocare il Suo consenso in qualsiasi momento, inoltre potrà in ogni momento esercitare i seguenti diritti (i “</span><span><b>Suoi Diritti</b></span><span>”):</span></p>
<ol type="a">
<li>
<p><span><span>il cd. “</span></span><span><span><b>diritto di accesso</b></span></span><span><span>” ai Suoi Dati Personali di cui all’art. 15 GDPR, e nello specifico: ottenere la conferma dell'esistenza o meno di Dati Personali che La riguardano, anche se non ancora registrati, e la loro comunicazione in forma intelligibile, nonché ottenere le seguenti informazioni: </span></span></p>
</li>
</ol><ol type="a"><ol>
<li>
<p><span><span>le finalità e le modalità del Trattamento dei Suoi Dati Personali (ivi inclusa l'esistenza di un processo decisionale automatizzato, compresa la profilazione di cui all'art. 22, par. 1 e 4 GDPR e, almeno in tali casi, informazioni significative sulla logica utilizzata, nonché l'importanza e le conseguenze previste di tale trattamento per l'interessato), le categorie dei Suoi Dati Personali trattati, l’origine dei Suoi Dati Personali, il periodo di conservazione dei Suoi Dati Personali (ove possibile), ovvero i criteri utilizzati per determinare tale periodo;</span></span></p>
</li>
<li>
<p><span><span>gli estremi identificativi del titolare, dei responsabili e del rappresentante designato ai sensi dell'art. 5, comma 2; e) GDPR e in generale di tutti i soggetti o delle categorie di soggetti ai quali i Suoi Dati Personali sono stati o saranno comunicati sul territorio italiano, in particolare se vi siano destinatari di paesi terzi o organizzazioni internazionali (e in tal caso, Lei ha altresì diritto ad essere informato dell'esistenza di garanzie adeguate ai sensi dell'articolo 46 GDPR relative al trasferimento); </span></span></p>
</li>
<li>
<p><span><span>l'esistenza del Suo diritto, in qualità di interessato di chiedere al titolare del trattamento la rettifica, la cancellazione o la limitazione del trattamento dei Suoi Dati Personali o di opporsi al loro trattamento;</span></span></p>
</li>
<li>
<p><span><span>il diritto di proporre reclamo al Garante per la protezione dei Suoi Dati Personali (il “</span></span><span><span><b>Garante</b></span></span><span><span>”);</span></span></p>
</li>
</ol></ol><ol>
<li>
<p><span><span>il cd. “</span></span><span><span><b>diritto di rettifica</b></span></span><span><span>” di cui all’art. 16 GDPR: il diritto di richiedere la rettificazione ovvero, qualora ne avesse interesse, l'integrazione dei Suoi Dati Personali; </span></span></p>
</li>
<li>
<p><span><span>il cd. “</span></span><span><span><b>diritto alla cancellazione</b></span></span><span><span>” (o “diritto all’oblio”) di cui all’art. 17 GDPR: il diritto di richiedere la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, compresi quelli di cui non è necessaria la conservazione in relazione alle finalità per le quali i Suoi Dati sono stati raccolti o successivamente trattati;</span></span></p>
</li>
<li>
<p><span><span>il cd. “</span></span><span><span><b>diritto di limitazione di trattamento</b></span></span><span><span>” di cui all’art. 18 GDPR: il diritto di ottenere dal titolare del trattamento la limitazione del trattamento in alcuni casi previsti ai sensi della Normativa Privacy;</span></span></p>
</li>
<li>
<p><span><span>il diritto di richiedere al titolare, ai sensi dell’art. 19 GDPR, indicazione dei destinatari a cui egli abbia notificato le eventuali rettifiche o cancellazioni o limitazioni del trattamento (effettuate a norma degli artt. 16, 17 e 18 GDPR, in adempimento dell’obbligo di notifica ad eccezione del caso in cui ciò si riveli impossibile o implichi uno sforzo sproporzionato);</span></span></p>
</li>
<li>
<p><span><span>il cd. “</span></span><span><span><b>diritto alla portabilità dei dati</b></span></span><span><span>” di cui all’art. 20 GDPR: il diritto di ricevere (o di trasmettere direttamente ad altro titolare) i Suoi Dati Personali in un formato strutturato, di uso comune e leggibile da dispositivo automatico;</span></span></p>
</li>
<li>
<p><span><span>il cd. “</span></span><span><span><b>diritto di opposizione</b></span></span><span><span>” di cui all’art. 20 GDPR: il diritto di opporsi, in tutto o in parte:<br /><br /></span></span>  -  per motivi legittimi al trattamento dei Suoi Dati Personali, ancorché pertinenti allo scopo della raccolta;<br />  -  al trattamento di Suoi Dati Personali, a fini di invio di materiale pubblicitario o di vendita diretta o per il compimento di ricerche di mercato o di comunicazione commerciale.</p>
</li>
</ol>
<p class="western"><span>Nei casi di cui sopra, ove necessario, il Titolare porterà a conoscenza dei soggetti terzi ai quali i Suoi Dati Personali sono comunicati dell’eventuale esercizio dei Suoi Diritti, ad eccezione di specifici casi (es. quando tale adempimento si riveli impossibile o comporti un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato).</span></p>
<p class="western"><strong>9. ESERCIZIO DEI SUOI DIRITTI E RECLAMO AL GARANTE DELLA PROTEZIONE DEI DATI PERSONALI</strong></p>
<p class="western"><span>Potrà in qualsiasi momento esercitare i Suoi Diritti nelle seguenti modalità: </span></p>
<ol type="a">
<li>
<p><span><span>inviando una raccomandata A.R. all’indirizzo del Titolare in </span></span><span><span>Via Bellini, 7, 10121 Torino TO</span></span><span><span><span></span></span></span></p>
</li>
<li>
<p><span><span>inviando una e-mail a </span></span><span><span>info@motorjab.it</span></span><span><span>; </span></span></p>
</li>
<li>
<p><span>telefonando</span><span><span> al numero </span></span><span><span>011-546928;</span></span></p>
</li>
</ol>
<p class="western"><span>La informiamo, altresì, che ai sensi della Normativa Privacy ha il diritto di proporre reclamo al Garante. Per la presentazione del reclamo, potrà utilizzare la modalità che ritiene più opportuna, consegnando il reclamo a mano presso gli uffici del Garante (all’indirizzo di seguito indicato) o mediante l’inoltro di:</span></p>
<ol type="a">
<li>
<p><span><span>raccomandata A/R indirizzata a “Garante per la protezione dei dati personali”, Piazza di Monte Citorio, 121 00186 Roma;</span></span></p>
</li>
<li>
<p><span><span>e-mail all’indirizzo: garante@gpdp.it, oppure protocollo@pec.gpdp.it;</span></span></p>
</li>
<li>
<p><span>fax</span><span><span> al numero: 06</span></span><span>-696773785. </span></p>
</li>
</ol>
<p class="western"><span>Per maggiori informazioni, si invita a consultare la pagina web del Garante <a href="http://www.garanteprivacy.it/web/guest/home/docweb/-/docweb-display/docweb/4535524">http://www.garanteprivacy.it/web/guest/home/docweb/-/docweb-display/docweb/4535524</a>.</span></p>
<p class="western"><strong>10. TITOLARE, RESPONSABILE DEL TRATTAMENTO E RESPONSABILE DELLA PROTEZIONE DEI DATI PERSONALI</strong></p>
<p class="western"><span>Il Titolare del Trattamento è</span><span><span> la Ditta </span></span><span><span>MotorJab Garage</span></span><span><span> con sede legale in </span></span><span><span>Via Bellini, 7, 10121 Torino TO e P. IVA n. </span></span><span>00340188887.</span></span></p>
<p class="western"><span></span><span><span>Il Responsabile del Trattamento é la Ditta </span></span><span><span>MotorJab Garage</span></span><span><span> con sede legale in </span></span><span><span>Via Bellini, 7, 10121 Torino TO e P. IVA n. </span><span>00340188887.</span> L’elenco aggiornato di altri eventuali responsabili del Trattamento, (a cui vengono comunicati i Suoi Dati Personali e opportunamente nominati con atto scritto), è liberamente consultabile presso la sede della Ditta.</span></span></p>


	</div>
</div>
{% endblock %}
