{% extends "website/inc/www_base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}Elettrauto a Torino{% endblock %}

{# page description #}
{% block description %}Un guasto all'impianto elettrico può causare i disagi più disparati, per questo, al primo segnale di malfunzionamento, occorre recarsi in officina al fine di diagnosticare il problema ed evitare possibili danni al proprio veicolo. Da MotorJab Garage a Torino offriamo i servizi tipici dell'elettrauto, avvalendoci di strumenti informatici aggiornati per analizzare nel dettaglio i malfunzionamenti del veicolo e delle centraline.{% endblock %}

{# page keywords #}
{% block keywords %}elettrauto torino,diagnosi elettronica torino,autodiagnosi e riparazioni di veicoli a iniezione meccanica ed elettronica benzina e diesel torino,ricarica batteria auto torino,vendita e sostituzione batterie auto torino,sostituzione lampadine auto torino,elettrauto,diagnosi elettronica,autodiagnosi e riparazioni di veicoli a iniezione meccanica ed elettronica benzina e diesel,ricarica batteria auto,vendita e sostituzione batterie auto,sostituzione lampadine auto{% endblock %}

{# custom page css block #}
{% block custom_css %}{% endblock %}
{# Custom page script block #}
{% block custom_js %}
{% endblock %}
{% block extra_js %}
{% endblock %}

{# menu active element #}
{% block navigation_active_www_elettrauto %}active{% endblock %}

{# container content #}
{% block www_main_content %}
<div class="page_header_block service_header_block">
	<div><h1>Elettrauto a Torino</h1></div>
	<div><h2>Interventi tecnici sull'impianto elettrico e diagnosi elettronica</h2></div>
</div>
<!-- three elements block -->
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-7 padding-xs-only padding-sm-only">
				<div class="col-lg-12 no_gutter">
					<h5>In caso di malfunzionamento elettrico...</h5>
				</div>
				<div class="col-lg-12 no_gutter">
					<h3>L'elettrauto</h3>
				</div>
				<div class="col-lg-12 no_gutter readable_text1">
					Un <b>guasto all'impianto elettrico</b> può causare i disagi più disparati, per questo, al primo segnale di malfunzionamento, <b>occorre recarsi in officina</b> al fine di diagnosticare il problema ed <b>evitare possibili danni</b> al proprio veicolo.
					Da MotorJab Garage a Torino offriamo i servizi tipici dell'elettrauto, avvalendoci di <b>strumenti informatici aggiornati</b> per analizzare nel dettaglio i malfunzionamenti del veicolo e delle centraline.<br />
					In particolare <b>i servizi principali</b> che offriamo sono i seguenti:
					<ul>
						<li>Diagnosi elettronica</li>
						<li>Autodiagnosi e riparazioni di veicoli a iniezione meccanica ed elettronica, benzina e diesel</li>
						<li>Riparazione e analisi impianto elettrico</li>
						<li>Ricarica batteria</li>
						<li>Vendita e sostituzione batterie di qualità</li>
						<li>Sostituzione lampadine</li>
					</ul><br />
					Questa disciplina, comunque fondamentale per <b>risolvere guasti anche meccanici</b>, se usata in combinazione con la meccanica prende il nome di <a title="Meccatronica" href="/meccatronica/">meccatronica</a>, creando così un'unica specialità volta alla risoluzione di problemi più complessi, richiesti dalle macchine a venire.<br /><br />
					<h6>Una <b>corretta e costante manutenzione</b> alla tua auto mette al riparo dalla maggior parte delle casistiche di guasto.</h6>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-4 text-xs-center text-md-right">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<a title="Elettrauto Torino" href="{% static "website/img/elettrauto-torino-1.jpg" %}" data-lightbox="image-1">
					<img class="img-responsive" alt="Elettrauto Torino" src="{% static "website/img/elettrauto-torino-1.jpg" %}">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-xs-12">
			<div class="jumbotron text-center">
				<h2>Contattaci adesso!</h2>
				<p>Vuoi richiedere un preventivo o prenotare un intervento per la tua auto?</p>
				<p><a title="Contattaci" href="/contattaci/" class="btn btn-primary btn-lg">Contattaci</a></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
