{% extends "website/inc/www_base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}MotorJab Garage | Contattaci{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# custom page css block #}
{% block custom_css %}
<style type="text/css">
#map {
	height: 400px;  /* The height is 400 pixels */
	width: 100%;  /* The width is the width of the web page */
	margin-top: 80px;
}
#footer { margin-top: 0px; }
.contact_form_textarea { resize: none; }
</style>
{% endblock %}
{# Custom page script block #}
{% block custom_js %}{% endblock %}
{% block extra_js %}
<script>
	// Initialize and add the map
	function initMap() {
		// The location of marker
		var default_marker = {lat: -25.344, lng: 131.036};
		// The map, centered at Uluru
		var map = new google.maps.Map(
		document.getElementById('map'), {zoom: 4, center: default_marker});
		// The marker, positioned at Uluru
		var marker = new google.maps.Marker({position: default_marker, map: map});
	}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzqjdh6nbQs6n1Vt7RK2Yo01w0eFOs2Vg&callback=initMap"></script>
{% endblock %}

{# menu active element #}
{% block navigation_active_contacts %}active{% endblock %}

{# container content #}
{% block www_main_content %}
<div class="page_header_block contacts_header_block">
	<div><h1>Contattaci</h1></div>
</div>
<div class="container-fluid info_block info_block_color1">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-offset-1 col-md-7 col-md-push-4 padding-xs-only padding-sm-only">
				<form class="form-horizontal" name="contact_form" method="POST" action="">
					<input type="hidden" name="contact_form_sent" value="1">
					<fieldset>
						<div class="form-group">
							<label for="inputEmail" class="col-lg-2 control-label">Email</label>
							<div class="col-lg-10">
								<input id="inputEmail" class="form-control" placeholder="Inserisci la tua email" type="email" required>
							</div>
						</div>
						<div class="form-group">
							<label for="inputPhone" class="col-lg-2 control-label">Telefono</label>
							<div class="col-lg-10">
								<input id="inputPhone" class="form-control" placeholder="Inserisci il tuo numero di telefono" type="tel" required>
							</div>
						</div>
						<div class="form-group">
							<label for="textArea" class="col-lg-2 control-label">Messaggio</label>
							<div class="col-lg-10">
								<textarea class="form-control contact_form_textarea" placeholder="Scrivi qui la tua richiesta..." rows="3" id="textArea"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-10 col-lg-offset-2">
								<button type="submit" class="btn btn-primary">Richiedi informazioni</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="col-md-4 col-md-pull-8 text-xs-center text-md-left">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
					<div class="mu-contact-right">
						<div class="mu-contact-widget">
							<h4>Dove puoi trovarci</h4>
							<address>
								<p><i class="ion-ios-pin"></i>&nbsp; 011-546928</p>
								<p><i class="ion-ios-call"></i>&nbsp;<a href="mailto:info@motorjab.it">info@motorjab.it</a></p>
								<p><i class="ion-ios-at"></i>&nbsp;Via Bellini, 7, 10121 Torino TO</p>
							</address>
						</div>
							<div class="mu-contact-widget">
							<h4>Orari di apertura</h4>                      
							<address>
								<p><span>Lunedì - Venerdì:</span><br /><b>8.00 - 12.00 / 14.00 - 18.30</b></p>
								<p><span>Sabato:</span> <b>Chiuso</b></p>
								<p><span>Domenica:</span> <b>Chiuso</b></p>
							</address>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="map"></div>
{% endblock %}
