{% extends "website/inc/www_base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}Cambio stagionale pneumatici a Torino{% endblock %}

{# page description #}
{% block description %}Da MotorJab Garage a Torino effettuiamo la sostituzione degli pneumatici, se necessiti del cambio stagionale hai trovato il posto giusto.{% endblock %}

{# page keywords #}
{% block keywords %}gommista,gommista Torino,sostituzione pneumatici,sostituzione pneumatici Torino,vendita pneumatici,vendita pneumatici Torino,riparazione pneumatici,riparazione pneumatici Torino,MotorJab Garage{% endblock %}

{# custom page css block #}
{% block custom_css %}{% endblock %}
{# Custom page script block #}
{% block custom_js %}
{% endblock %}
{% block extra_js %}
{% endblock %}

{# menu active element #}
{% block navigation_active_www_gommista %}active{% endblock %}
{% block second_navigation_active_www_cambio_stagionale_pneumatici %}submenu_active{% endblock %}

{# container content #}
{% block www_main_content %}
<div class="page_header_block service_header_block">
	<div><h1>Cambio stagionale pneumatici a Torino</h1></div>
	<div><h2>Sostituzione ed equilibratura , anche di runflat</h2></div>
</div>
<!-- three elements block -->
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-7 padding-xs-only padding-sm-only">
				<div class="col-lg-12 no_gutter">
					<h5>Il paradiso degli pneumatici</h5>
				</div>
				<div class="col-lg-12 no_gutter">
					<h3>Sostituzione e cambio stagionale</h3>
				</div>
				<div class="col-lg-12 no_gutter readable_text1">
					Da MotorJab Garage a Torino effettuiamo la <b>sostituzione</b> degli <b>pneumatici</b>, se necessiti del cambio stagionale hai trovato il posto giusto.<br />
					Eseguire la sostituzione presso il nostro centro conviene:
					<ul>
						<li>Vengono utilizzate <b>apparecchiature all'avanguardia</b> in grado di preservare i tuoi cerchi in lega</li>
						<li>Vengono analizzati gli pneumatici e il <b>livello di usura del battistrada</b> prima di ogni sostituzione</li>
						<li>Eseguiamo sostituzioni anche di <b>pneumatici runflat</b></li>
						<li><b>Regoliamo le pressioni in maniera ottimale</b>, in base al tipo di pneumatico e al tuo veicolo</li>
						<li>Resettiamo, se presente, il <b>sistema di controllo pressione pneumatici</b> del veicolo</li>
					</ul>
					Oltre alla sostituzione dei tuoi pneumatici, <b>forniamo i seguenti servizi</b>:
					<ul>
						<li><a title="Vendita di pneumatici delle migliori marche" href="/vendita-montaggio-pneumatici-torino/">Vendita di pneumatici delle migliori marche</a></li>
						<li><a title="Servizio di custodia pneumatici" href="/servizio-custodia-pneumatici-torino/">Servizio di custodia pneumatici</a></li>
					</ul><br /><br />
				</div>
			</div>
			<div class="col-md-offset-1 col-md-4 text-xs-center text-md-right">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<a title="Cambio stagionale pneumatici Torino" href="{% static "website/img/gommista_1.jpg" %}" data-lightbox="image-1">
					<img class="img-responsive" alt="Cambio stagionale pneumatici Torino" src="{% static "website/img/gommista_1.jpg" %}">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-offset-1 col-md-7 col-md-push-4 padding-xs-only padding-sm-only">
				<div class="col-lg-12 no_gutter">
					<h5>I tuoi preziosi cerchi in lega non verranno scalfiti</h5>
				</div>
				<div class="col-lg-12 no_gutter">
					<h3>Attrezzature all'avanguardia</h3>
				</div>
				<div class="col-lg-12 no_gutter readable_text1">
					Da MotorJab Garage a Torino utilizziamo attrezzature di ultimissima generazione, che <b>non scalfiranno</b> minimamente i <b>cerchi in lega</b> durante la fase di smontaggio e montaggio dello pneumatico, <b>compresi i runflat</b>, garantendo un lavoro a regola d'arte.<br /><br />
					Tutte le <b>lavorazioni</b> sono <b>eseguite in locali coperti</b> senza l'utilizzo dei cric, ma con l'ausilio di sollevatori per auto.
				</div>
			</div>
			<div class="col-md-4 col-md-pull-8 text-xs-center text-md-left">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<a title="Cambio stagionale pneumatici Torino" href="{% static "website/img/gommista_2.jpg" %}" data-lightbox="image-2">
					<img class="img-responsive" alt="Cambio stagionale pneumatici Torino" src="{% static "website/img/gommista_2.jpg" %}">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-offset-2 col-md-8 text-center">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<a title="Cambio stagionale pneumatici Torino" href="{% static "website/img/gommista_4.jpg" %}" data-lightbox="image-4">
					<img class="img-responsive" alt="Autoriparazioni MotorJab Garage" src="{% static "website/img/gommista_4.jpg" %}">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-xs-12">
			<div class="jumbotron text-center">
				<h2>Contattaci adesso!</h2>
				<p>Vuoi richiedere informazioni, consigli o prenotare un cambio gomme?</p>
				<p><a title="Contattaci" href="/contattaci/" class="btn btn-primary btn-lg">Contattaci</a></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
