{% extends "website/inc/www_base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}MotorJab Garage | Directory{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# custom page css block #}
{% block custom_css %}{% endblock %}
{# Custom page script block #}
{% block custom_js %}{% endblock %}

{# container content #}
{% block www_main_content %}
<div class="page_header_block contacts_header_block">
	<div>
		<h1>Directory</h1>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			Elenco delle directory.<br />
			<a rel="nofollow" href="https://www.mrlink.it" target="_blank" title="directory mrlink">Directory Siti Web</a><br />
			<a rel="nofollow" href="https://www.profdirectory.it" target="_blank" title="directory Profdirectory">Profdirectory.it</a><br />
			<a rel="nofollow" href="https://primadirectory.it/" target="_blank" title="directory Primadirectory">Primadirectory.it</a><br />
			<a rel="nofollow" href="http://www.lamiadirectory.com/ultimi-siti.aspx" target="_blank" title="directory Italiana">La Mia Directory</a><br />
			<a rel="nofollow" href="http://www.directorysi.com" title="Web Directorydirectorysi.com" target="_blank">Directory directorysi</a><br />
			<a rel="nofollow" href="https://www.portale-internet.net/" title="Portale-Internet" target="_blank">Portale-Internet</a><br />
			<a rel="nofollow" href="http://www.giorgiotave.it/directory/" title="giorgiotave" target="_blank">Giorgiotave</a><br />
			<hr />
			<b>Torna in <a href="/">Home page</a></b>.
		</div>
	</div>
</div>
{% endblock %}
