{% extends "website/inc/www_base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}MotorJab Garage | I nostri servizi{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# custom page css block #}
{% block custom_css %}{% endblock %}
{# Custom page script block #}
{% block custom_js %}
<script src="{% static "website/js/vendor/jquery.scrollTo.min.js" %}"></script>
{% endblock %}
{% block extra_js %}
<script>
	/*$(document).ready(function(){
		$(document).on("click", ".serviceNavigationClick", function(){
			var anchorName = $(this).data("navigationAnchor");
			if (anchorName) {
				page_anchor(anchorName);
			}
		});

		page_anchor();
	});*/

	$(document).ready(function(){
		$(document).on("click", ".serviceNavigationClick", function(){
			var navMain = $("#bs-navbar-collapse-1");
			navMain.collapse('hide');
		});
	});
</script>
{% endblock %}

{# menu active element #}
{% block navigation_active_services %}active{% endblock %}

{# container content #}
{% block www_main_content %}
<div class="page_header_block service_header_block">
	<div><h1>I nostri servizi</h1></div>
	<div><h4>Scopri tutto quello che facciamo</h4></div>
</div>
<!-- three elements block -->
<div id="_meccanica">&nbsp;</div>
<div class="row page_title_separator">
	<div class="col-sm-12">
		<h2>Meccanica</h2>
		<div class="readable_text1">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
		</div>
	</div>
</div>
<div class="row elements_container no_gutter">
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/tagliando-cambio-olio.png" %}" alt="">
			<div class="block-label">Tagliando completo</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/sistema-frenante.png" %}" alt="">
			<div class="block-label">Sistema frenante</div>
			<div class="readable_text1">
Le pastiglie dei freni sono un organo di sicurezza del veicolo: devono assicurare una frenata costante, affidabile ed in tutte le condizioni meteo.
Le pastiglie freno sono da sostituire ogni 30 000 - 40 000 km (secondo il tipo di guida), ad ogni cambio dei dischi freni e secondo le indicazioni del costruttore, da verificare almeno ogni 2 anni o 25 000 km.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/ammortizzatori.png" %}" alt="">
			<div class="block-label">Ammortizzatori</div>
			<div class="readable_text1">
 Gli ammortizzatori, che fanno parte del sistema di sospensione, sono montati sia nella parte anteriore che in quella posteriore dell’automobile. Ovviamente, quando si guida, gli ammortizzatori sono costantemente sollecitati, e col tempo finiscono quindi per usurarsi. Ammortizzatori malfunzionanti possono essere un serio problema per la sicurezza alla guida, e vanno quindi cambiati appena possibile. Esistono molti segnali che indicano che gli ammortizzatori vanno cambiati; e, prima di procedere alla loro sostituzione, ricorda che gli ammortizzatori vanno sempre cambiati in coppia, e mai singolarmente.
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/distribuzione.png" %}" alt="">
			<div class="block-label">Distribuzione</div>
			<div class="readable_text1">
La cinghia di distribuzione è una componente essenziale del sistema di trasmissione e distribuzione dell’automobile ed è indispensabile per garantire il corretto funzionamento del motore. Il suo scopo è trasmettere il moto dall’albero motore agli alberi a camme, sincronizzando così i movimenti dei pistoni e delle valvole.
La cinghia di distribuzione è particolarmente soggetta a usura, sia perché è fatta di gomma, sia perché è sottoposta a notevoli sforzi meccanici, gira infatti costantemente agli stessi giri del motore. Di solito deve essere sostituita ogni 90.000 km, ma una regolare verifica delle sue condizioni è comunque consigliabile
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/frizione.png" %}" alt="">
			<div class="block-label">Frizione</div>
			<div class="readable_text1">
La frizione serve a separare il motore dalla scatola del cambio, riducendo al contempo le vibrazioni e proteggendo il motore. La durata di una frizione è di circa 100.000 km. Una volta superato questo chilometraggio, la sua durata dipende dall’uso che fai della tua auto e dal tipo di strade che percorri.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/sistema-di-scarico.png" %}" alt="">
			<div class="block-label">Sistema di scarico</div>
			<div class="readable_text1">
L’impianto di scarico è un sistema complesso che parte dal motore e giunge fino all’estremità dell’automobile. Un impianto di scarico completo è diviso in parti diverse. Le parti principali che compongono un impianto di scarico sono i collettori, il centrale e il terminale.
I gas combusti, quando vengono rilasciati dal cilindro, conservano ancora una notevole energia. Inoltre essi sono caratterizzati da una grande velocità e da una temperatura elevata. La funzione importante dell’impianto di scarico è proprio quella di smaltire i gas in maniera sicura, silenziosa, e con particolare attenzione ad intervenire sulle loro caratteristiche inquinanti e dannose per l’ambiente, in modo da modificare il più possibile le loro qualità inquinanti.
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/climatizzatore.png" %}" alt="">
			<div class="block-label">Climatizzatore</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
	</div>
</div>
<div id="_elettronica">&nbsp;</div>
<div class="row page_title_separator">
	<div class="col-sm-12">
		<h2>Elettronica</h2>
		<div class="readable_text1">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
		</div>
	</div>
</div>
<div class="row elements_container no_gutter">
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/diagnosi-elettronica.png" %}" alt="">
			<div class="block-label">Diagnosi elettronica</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/sostituzione-ricarica-batteria.png" %}" alt="">
			<div class="block-label">Sostituzione / Ricarica batteria</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/lampadine.png" %}" alt="">
			<div class="block-label">Lampadine</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/efficienza-impianto-elettrico.png" %}" alt="">
			<div class="block-label">Efficienza impianto elettrico</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
	</div>
</div>
<div id="_gommista">&nbsp;</div>
<div class="row page_title_separator">
	<div class="col-sm-12">
		<h2>Gommista</h2>
		<div class="readable_text1">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
		</div>
	</div>
</div>
<div class="row elements_container no_gutter">
	<div class="col-sm-12">
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/sostituzione-riparazione.png" %}" alt="">
			<div class="block-label">Sostituzione / Riparazione</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/rimessaggio-gomme.png" %}" alt="">
			<div class="block-label">Rimessaggio</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
		<div class="col-sm-4 single_service_block">
			<img class="img-responsive" src="{% static "website/img/service_blocks/equilibratura-gomme.png" %}" alt="">
			<div class="block-label">Equilibratura</div>
			<div class="readable_text1">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus.
			</div>
		</div>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-md-7 padding-xs-only padding-sm-only">
				<div class="col-lg-12 no_gutter">
					<h5>Bielle, cilindri, pistoni e...</h5>
				</div>
				<div class="col-lg-12 no_gutter">
					<h3>MotorJab Garage</h3>
				</div>
				<div class="col-lg-12 no_gutter readable_text1">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed quam eget ex posuere consequat. Cras imperdiet, lacus ac posuere ornare, neque tortor hendrerit odio, non interdum est orci sed quam. Sed at commodo eros. Sed eget diam lectus. Nunc eu elit non felis iaculis lacinia sed in libero. Nunc interdum orci ac lacus ullamcorper, sollicitudin accumsan urna finibus. Ut egestas ex eu convallis elementum. Nam eros ligula, commodo ut tortor et, venenatis feugiat augue. In ut ultrices massa, ut rutrum tortor. Cras lobortis purus finibus tortor euismod condimentum.
				</div>
				<div class="col-lg-12 no_gutter"><a href="/howto/concorsi-a-tema/">Maggiori informazioni</a></div>
			</div>
			<div class="col-md-offset-1 col-md-4 text-xs-center text-md-right">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<img class="img-responsive" alt="Autoriparazioni MotorJab Garage" src="{% static "website/img/img1.png" %}">
			</div>
		</div>
	</div>
</div>
{% endblock %}
