{% extends "website/inc/www_base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}MotorJab Garage | Directory{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# custom page css block #}
{% block custom_css %}{% endblock %}
{# Custom page script block #}
{% block custom_js %}{% endblock %}

{# container content #}
{% block www_main_content %}
<div class="page_header_block contacts_header_block">
	<div>
		<h1>Directory</h1>
	</div>
</div>
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			Elenco delle directory.<br />
			<a href="https://www.mrlink.it" target="_blank" title="directory mrlink">Directory Siti Web</a>
			<a href="https://www.profdirectory.it" target="_blank" title="directory profdirectory">Prof Directory</a>
			<hr />
			<b>Torna in <a href="/">Home page</a></b>.
		</div>
	</div>
</div>
{% endblock %}
