{% extends "website/inc/dashboard_base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}MotorJab Garage | Clienti{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# custom page css block #}
{% block custom_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "website/css/jquery.dynatable.css" %}">
{% endblock %}
{# Custom page script block #}
{% block custom_js %}
{{ block.super }}
<script src="{% static "website/js/vendor/jquery.dynatable.js" %}"></script>
{% endblock %}

{# menu active element #}
{% block navigation_active_customers %}active{% endblock %}

{# container content #}
{% block www_main_content %}
{# title block {{{ #}
<div class="row no_gutter">
	<div class="col-md-10 col-md-offset-1">
		<div class="dashboard_page_title_block">
			<div class="dashboard_page_title">Clienti</div>
			<div class="dashboard_page_description">In questa sezione è presente la lista dei tuoi clienti, è possibile modificarli o eliminarli.</div>
		</div>
	</div>
</div>
{# title block }}} #}

<div class="row no_gutter">
	<div class="col-xs-12">
		<table id="my-ajax-table">
			<thead>
				<th>Nome</th>
				<th>Cognome</th>
				<th>Email</th>
				<th>Telefono</th>
				<th>Azioni</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block extra_js %}
<script>
	$(document).ready(function(){
		$('#my-ajax-table').dynatable({
			dataset: {
				ajax: true,
				ajaxUrl: '/ajax/customers_list/',
				ajaxOnLoad: true,
				records: []
			}
		});
	});
</script>
{% endblock %}
