body {
}

.content h3 {
    margin-left: 50px;
}

#head_style {
	margin-top: 40px;
	top: 30px;
}

#my_table td {
	text-align: center;
}

#my_table th {
	text-align: center;
}

.pagination_wrap {
	text-align: center;
}

#top_menu {
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #e1e1e1;
  position: fixed;
  margin: 5px;
  margin-top:0px;
  padding: 0px 10px;
  padding-top:5px;
  left: 0;
  top: 0;
  width: 100%;
  z-index:10;
}

.error_required {
    color: red;
}

.my_alert {
    margin: 5px;
    position: fixed;
    top: 20px;
    left: 30%;
    min-width: 40%;
    z-index: 10 !important;
}

.select2 {
    min-width: 150px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered{
    height:27px;
    border:none;
}

.my_view {
    margin-top: 60px;
}

.my_footer {
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid #e1e1e1;
  background-color: #bf0;
  color: #000;
}
.my_footer {
	margin-top: 160px;
}

.my_footer ul,
.my_footer li {
	padding: 0;
	margin: 0;
}

.my_footer ul, ul.contact-us {
	list-style: outside none none;
}

.footer-top {
	background: #101010;
	border-bottom: 1px solid #36393c;
	color: #969696;
	padding: 50px 0;
}

.footer-bottom {
	background: #272727;
	color: #888;
	line-height: 38px;
	padding: 40px 0px;
}

.social-icons-footer-bottom {
	float: right;
	margin: 6px 0 0;
}

.social-icons-footer-bottom li {
	display: inline;
	float: left;
	margin-right: 7px !important;
	list-style: none;
	-webkit-transition: all .2s ease-in-out 0;
	-moz-transition: all .2s ease-in-out 0;
	-o-transition: all .2s ease-in-out 0;
	-ms-transition: all .2s ease-in-out 0;
	transition: all .2s ease-in-out 0;
}

.social-icons-footer-bottom li i {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 16px;
	padding-top: 0;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
}

.scrollup {
	width: 40px;
	height: 40px;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	filter: alpha(opacity=80);
	opacity: 0.8;
	position: fixed;
	bottom: 100px;
	right: 15px;
	display: none;
	text-align: center;
	color: #fafafa;
	font-size: 28px;
	background: #9e9e9e;
	z-index: 9999;
}

.scrollup i {
	line-height: 38px;
}

a.scrollup:hover i,
a.scrollup:focus i {
	text-decoration: none;
	color: #fafafa;
	outline: none;
}

#tweets li:before {
	color: #767676;
	content: "\f099";
	float: left;
	font-family: FontAwesome;
	font-size: 16px;
	margin: 0 0 0 -28px;
}

#tweets li {
	line-height: 24px;
	margin: 0 0 15px;
	padding: 0 0 0 28px;
}

#tweets .content {
	padding-top: 0;
	margin-bottom: 5px;
}

#flickrfeed li {
	float: left;
	margin: 5px 5px 0 0;
}

.contact-us {
	margin: 9px 0 0;
	padding: 0;
	background: url("../img/mappa-contatti.png") no-repeat center bottom;
}

.business-hour i {
	margin-right: 5px;
}

footer .contact-us a {
	color: #fff !important;
}

.contact-us .icon-map-marker {
	font-size: 16px;
}

.contact-us li i {
	color: #777777;
	float: left;
	margin: 0;
	margin-top: 3px;
}

.contact-us p {
	line-height: 24px;
	margin-left: 20px;
	margin-top: -2px;
}

.contact-us li p strong {
	color: #767676;
	float: left;
	font-weight: 600;
	margin: 0 5px 5px 0;
}

.contact-pad {
	padding-bottom: 20px;
}
.footer_social_container { float: left; }
.footer_social_container a { font-size: 29px; }
.footer_social_container > span  { display: inline-block; }
.footer_social_container > span.social_spacing  { margin-right: 7px; }

.main_left_container {
	margin-top: 40px;
}
.main_right_container {
	background-color: #efeeee;
	padding-top: 15px;
}
.navbar-brand > img {
    float: left;
}
.blog-logo {
	width: 185px;
	margin-top: 20px;
	margin-left: 16px;
}

@media (max-width: 768px) {
	.main-logo { width: 100px!important; margin-top: 5px; }
	.blog-logo { width: 140px!important; margin-top: 25px; }

	.main_container .middle_container .main_left_container .blog_list_container .blog_container .blog_img,
	.main_container .middle_container .main_left_container .blog_list_container .blog_container .blog_img,
	.main_container .middle_container .main_left_container .blog_list_container .blog_container .blog_content_container,
	.main_container .middle_container .main_left_container .blog_list_container .blog_container .blog_content_container
	{
		display : inline-block!important;
	}

	.main_container .middle_container .main_left_container .blog_list_container .blog_container .blog_img,
	.main_container .middle_container .main_left_container .blog_list_container .blog_container .blog_img
	{
		width: 100% !important;
		text-align: left !important;
		margin-bottom: 10px;
	}
	.main_container .middle_container .main_left_container .blog_list_container .blog_container .blog_content_container {
		padding: 30px !important;
	}
}

.navbar { margin-bottom: 0px!important; }
.navbar-default { border-bottom: 1px solid #d1d1d1!important; }
/* for user view */

.horizontal_dashed_line {
  border-bottom: 1px dashed #ddd;
  width: 100%;
}

.blogs li {
    list-style: none;
}

.blogs .blog-list .list-item .blog-left .title a {
    text-decoration: none;

}

.blogs .blog-list .list-item .desc a {
    text-decoration: none;
}

table .widget.tags {
    display: inline-block;
    border: none;
    margin-bottom: 0;
    padding-bottom: 4px;
    margin-left: 5px;
}

table .widget.tags a {
    background: #fef0f0;
    border-radius: 2px;
    color: #FF405F!important;
    font-size: 1.4rem;
    margin: 0 0 0 -1px;
    padding: 5px 8px 4px 8px;
}

table .widget.tags a i{
    margin-right: 6px;
}

table .widget.tags a {
    text-decoration: none;
}

.blogs .blog-list .list-item .desc .tags {
    display: inline-block;
    border: none;
    margin-bottom: 0;
    padding-bottom: 4px;
    margin-left: 5px;
}

.blogs .blog-list .list-item .desc span a {
    background: #fef0f0;
    border-radius: 2px;
    color: #FF405F!important;
    font-size: 1.4rem;
    margin: 0 0 0 -1px;
    padding: 5px 8px 4px 8px;
}

.blogs .blog-list .list-item .desc .continue-read {
    text-align: right;
}


/*right side bar*/
/* for tags and categories boxes display */

#right-sidebar {
    margin-left: 20px;
    padding-top: 10px;
    padding: 0!important;
}

.blog-colors #tag-blue {
    margin: 0;
    padding: 0;
    background: #25C7D7;
    margin-bottom: 14px;
    padding: 10px;
}

#blue, #pink, #yellow, #green, #tag-blue {
    background: #fff;
}

.widget {
    padding-bottom: 10px;
}

.widget h3 {
    margin-top: 0;
    margin-bottom: 15px;
}

.blog-colors #tag-blue h3 span {
    background: #fff;
    color: #25C7D7;
}

.widget h3 span {
    display: inline-block;
    padding: 5px 6px;
    background: #666;
    color: #fff;
    position: relative;
    top: 4px;
    left: -23px;
    font-size: 1.5rem;
    box-shadow: 2px 2px -5px #ddd;
    border-top-right-radius: 5px;
}

.blog-colors .widget ul li {
    list-style: none;
    padding-bottom: 0;
    color: #333;
    border-bottom: 1px dashed #eee;
    color: #fff;
    font-size: 1.3rem;
}

.blog-colors #tag-blue ul li a {
    color: #fff;
    padding: 8px 0;
    display: block;
}

.blog-colors .widget-tag-cloud a, .blog-colors .widget ul li a, .blog-colors .widget ul li span {
    color: #fff;
    font-size: 1.4rem;
    display: inline-block;
    padding: 8px 0;
}

.widget-tag-cloud a, .widget ul li a, .widget ul li span {
    color: #777;
    font-size: 13px;
}

.blog-colors #tag-blue ul li a {
    color: #fff;
    padding: 8px 0;
    display: block;
    text-decoration: none;
}

.blog-colors .widget-tag-cloud a, .blog-colors .widget ul li a, .blog-colors .widget ul li span {
    color: #fff;
    font-size: 1.4rem;
    display: inline-block;
    padding: 8px 0;
}

.widget-tag-cloud a, .widget ul li a, .widget ul li span {
    color: #777;
    font-size: 13px;
}


/* for tags */

.blog-colors #pink {
    margin: 0;
    padding: 0;
    background: #FF405F;
    margin-bottom: 14px;
    padding: 10px;
}

.blog-colors #pink h3 span {
    background: #fff;
    color: #fd6e70;
}

.widget h3 span {
    display: inline-block;
    padding: 5px 6px;
    background: #666;
    color: #fff;
    position: relative;
    top: 4px;
    left: -23px;
    font-size: 1.5rem;
    box-shadow: 2px 2px -5px #ddd;
    border-top-right-radius: 5px;
}

.blog-colors #pink ul li a {
    color: #fff;
    text-decoration: none;
}

.blog-colors .widget.tags li {
    display: inline-block;
    border: none;
    margin-bottom: 0;
    padding-bottom: 4px;
    margin-left: 5px;
}

.blog-colors .widget.tags li a {
    background: #fef0f0;
    border-radius: 2px;
    color: #FF405F!important;
    display: block;
    font-size: 1.4rem;
    margin: 0 0 0 -1px;
    padding: 5px 8px 4px 8px;
}

.blog-colors .widget-tag-cloud a, .blog-colors .widget ul li a, .blog-colors .widget ul li span {
    color: #fff;
    font-size: 1.4rem;
    display: inline-block;
    padding: 8px 0;
}

.widget-tag-cloud a, .widget ul li a, .widget ul li span {
    color: #777;
    font-size: 13px;
}

.blog-colors .widget.tags li a i, .blog-no-colors .widget.tags li a i {
    margin-right: 6px;
}


/* for green - blog-posts archives */

.blog-colors #green {
    margin: 0;
    padding: 0;
    background: #1EC36F;
    margin-bottom: 14px;
    padding: 10px;
}

.blog-colors #green h3 span {
    background: #fff;
    color: #60bf5b;
}

.blog-colors #green ul li a {
    color: #fff;
    text-decoration: none;
}

/* Dashboard Blog list */
.blog_trash_form{
    display: inline-block;
}
/* /Dashboard Blog list */

