{% load staticfiles static %}
<!DOCTYPE html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>{% block title %}{% endblock %}</title>
		<meta name="description" content="{% block description %}{% endblock %}">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="manifest" href="site.webmanifest">
		<link rel="apple-touch-icon" href="icon.png">
		<!-- Place favicon.ico in the root directory -->
		<!--<link rel="stylesheet" href="website/css/normalize.css"> gia' presente in bootstrap -->
		<!--<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">-->
		<!-- Bootstrap -->
		<!--<link rel="stylesheet" href="{% static "website/css/bootstrap.css" %}">-->

		<!-- JavaScript -->
		<script src="{% static "website/js/vendor/modernizr-3.6.0.min.js" %}"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="{% static "website/js/vendor/jquery-3.3.1.min.js" %}"><\/script>')</script>
		<script src="{% static "website/js/plugins.js" %}"></script>
		<script src="{% static "website/js/bootstrap.js" %}"></script>
		<!-- load extra plugin here -->
		{# Custom page script block #}
		{% block custom_js %}
		{% endblock custom_js %}
		<script src="{% static "website/js/vendor/lightbox.min.js" %}"></script>
		<script src="{% static "website/js/main.js" %}"></script>
		{# Custom page extra script block #}
		{% block extra_js %}
		{% endblock extra_js %}

		{# info tema: https://bootswatch.com/3/paper/?optionsRadios=option1 #}
		<link rel="stylesheet" href="{% static "website/css/bootstrap-material-design.css" %}">
		<!-- <link rel="stylesheet" href="{% static "website/css/bootstrap-theme.css" %}"> -->
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<!-- animation: https://daneden.github.io/animate.css/ -->
		<link rel="stylesheet" href="{% static "website/css/animate.css" %}">
		<link rel="stylesheet" href="{% static "website/css/hover.css" %}">
		<!-- icon pack: https://ionicons.com/usage -->
		<link href="https://unpkg.com/ionicons@4.4.6/dist/css/ionicons.min.css" rel="stylesheet">
		<!-- main style css -->
		<link rel="stylesheet" href="{% static "website/css/main.css" %}">
		<link rel="stylesheet" href="{% static "website/css/lightbox.min.css" %}">
		{# custom css #}
		{% block custom_css %}
		{% endblock custom_css %}
	</head>
	<body>
		<div class="bg-boxed">
			<div class="boxed boxed_max_width">
				<header>
					{% block header_block %}
					{% endblock header_block %}
				</header>
				<div class="main-container">
					<section>
						{# www content {{{ #}
						{% block www_main_content %}
						{% endblock www_main_content %}
						{# www content }}} #}
					</section>
					<footer id="footer">
						{% block footer_block %}
						{% endblock footer_block %}
					</footer>
				</div>
				<!-- main content end -->
			</div>
			<!-- box width end -->
		</div>
	</body>
</html>
