{% load staticfiles static %}
<!DOCTYPE html>
<html class="no-js" lang="it">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>{% block title %}{% endblock %}</title>
		<meta name="description" content="{% block description %}{% endblock %}">
		<meta name="keywords" content="{% block keywords %}{% endblock %}">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="canonical" href="https://www.motorjab.it/" />
		<meta name="robots" content="all" />
		<meta name="GOOGLEBOT" content="NOODP" />

		<link rel="apple-touch-icon" sizes="180x180" href="{% static "website/apple-touch-icon.png" %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static "website/favicon-32x32.png" %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static "website/favicon-16x16.png" %}">
		<link rel="manifest" href="{% static "website/site.webmanifest" %}">
		<link rel="mask-icon" href="{% static "website/safari-pinned-tab.svg" %}" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<!-- fb/tw meta -->
		<meta property="og:locale" content="it_IT" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="MotorJab Garage - Autoriparazioni, elettrauto e gommista a Torino" />
		<meta property="og:description" content="MotorJab Garage a Torino: un unico centro, tanti servizi per la tua auto. Dal tagliando alla sostituzione degli pneumatici. Autoriparazioni Torino, Meccanico Torino, Officina riparazione auto torino, Sostituzione pneumatici Torino, Gommista Torino" />
		<meta property="og:url" content="https://www.motorjab.it/" />
		<meta property="og:image" content="https://www.motorjab.it/static/website/img/motorjab_garage.jpg">
		<meta property="og:site_name" content="MotorJab Garage - Autoriparazioni - elettrauto - gommista - Torino" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:description" content="MotorJab Garage a Torino: un unico centro, tanti servizi per la tua auto. Dal tagliando alla sostituzione degli pneumatici. Autoriparazioni Torino, Meccanico Torino, Officina riparazione auto torino, Sostituzione pneumatici Torino, Gommista Torino" />
		<meta name="twitter:title" content="MotorJab Garage - Autoriparazioni, elettrauto e gommista a Torino" />
		<meta name="twitter:image" content="https://www.motorjab.it/static/website/img/motorjab_garage.jpg" />
		<!--<meta name="twitter:site" content="https://www.motorjab.it/">-->


		<!-- JavaScript -->
		<script src="{% static "website/js/vendor/modernizr-3.6.0.min.js" %}"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script>
		window.jQuery || document.write('<script src="{% static "website/js/vendor/jquery-3.3.1.min.js" %}"><\/script>')
		// Avoid `console` errors in browsers that lack a console.
		!function(){function e(){}for(var n,o=["assert","clear","count","debug","dir","dirxml","error","exception","group","groupCollapsed","groupEnd","info","log","markTimeline","profile","profileEnd","table","time","timeEnd","timeline","timelineEnd","timeStamp","trace","warn"],i=o.length,r=window.console=window.console||{};i--;)r[n=o[i]]||(r[n]=e)}();
		</script>
		<!--<script src="{% static "website/js/plugins.js" %}"></script>-->
		<!--<script src="{% static "website/js/bootstrap.js" %}"></script>-->
		<!-- load extra plugin here -->
		{# Custom page script block #}
		{% block custom_js %}
		{% endblock custom_js %}
		<script src="{% static "website/js/vendor/lightbox.min.js" %}"></script>
		<script src="{% static "website/js/main.js" %}"></script>

		<!-- Markup JSON-LD generato da Assistente per il markup dei dati strutturati di Google. -->
		<script type="application/ld+json">
		{
		  "@context" : "http://schema.org",
		  "@type" : "LocalBusiness",
		  "name" : "MotorJab Garage",
		  "url":"https://www.motorjab.it/",
		  "image" : "https://www.motorjab.it/static/website/img/logo.png",
		  "telephone" : "011546928",
		  "email" : "info@motorjab.it",
		  "address" : {
		    "@type" : "PostalAddress",
		    "streetAddress" : "Via Bellini, 7",
		    "addressLocality" : "Torino TO",
		    "postalCode" : "10121"
		  },
		  "openingHoursSpecification": [
		    {
		      "@type": "OpeningHoursSpecification",
		      "dayOfWeek": "http://schema.org/Monday",
		      "opens": "08:30:00",
		      "closes": "18:30:00"
		    },
		    {
		      "@type": "OpeningHoursSpecification",
		      "dayOfWeek": "http://schema.org/Tuesday",
		      "opens": "08:30:00",
		      "closes": "18:30:00"
		    },
		    {
		      "@type": "OpeningHoursSpecification",
		      "dayOfWeek":  "http://schema.org/Wednesday",
		      "opens": "08:30:00",
		      "closes": "18:30:00"
		    },
		    {
		      "@type": "OpeningHoursSpecification",
		      "dayOfWeek": "http://schema.org/Thursday",
		      "opens": "08:30:00",
		      "closes": "18:30:00"
		    },
		    {
		      "@type": "OpeningHoursSpecification",
		      "dayOfWeek":  "http://schema.org/Friday",
		      "opens": "08:30:00",
		      "closes": "18:30:00"
		    }
		  ]
		}
		</script>

		{# Custom page extra script block #}
		{% block extra_js %}
		{% endblock extra_js %}

		{# info tema: https://bootswatch.com/3/paper/?optionsRadios=option1 #}
		<link rel="stylesheet" href="{% static "website/css/bootstrap-material-design.css" %}">
		<!-- <link rel="stylesheet" href="{% static "website/css/bootstrap-theme.css" %}"> -->
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<!-- animation: https://daneden.github.io/animate.css/ -->
		<link rel="stylesheet" href="{% static "website/css/animate.css" %}">
		<link rel="stylesheet" href="{% static "website/css/hover.css" %}">
		<!-- icon pack: https://ionicons.com/usage -->
		<link href="https://unpkg.com/ionicons@4.4.6/dist/css/ionicons.min.css" rel="stylesheet">
		<!-- main style css -->
		<link rel="stylesheet" href="{% static "website/css/main.css" %}">
		<link rel="stylesheet" href="{% static "website/css/lightbox.min.css" %}">
		{# custom css #}
		{% block custom_css %}
		{% endblock custom_css %}
		<meta name="google-site-verification" content="SiiA-_yaX-w4tXRuHIYRNW6S2Ib8jpkpRvvGyaf9uv0" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132184239-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'UA-132184239-1');
		</script>
	</head>
	<body>
		<div class="bg-boxed">
			<div class="boxed boxed_max_width">
				<header>
					{% block header_block %}
					{% endblock header_block %}
				</header>
				<div class="main-container">
					<section>
						{# www content {{{ #}
						{% block www_main_content %}
						{% endblock www_main_content %}
						{# www content }}} #}
					</section>
					<footer id="footer">
						{% block footer_block %}
						{% endblock footer_block %}
					</footer>
				</div>
				<!-- main content end -->
			</div>
			<!-- box width end -->
		</div>
	</body>
</html>
