{% extends "website/inc/base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# custom page css block #}
{% block custom_css %}{% endblock %}
{# Custom page script block #}
{% block custom_js %}{% endblock %}
{# Custom page extra script block #}
{% block extra_js %}{% endblock %}

{% block header_block %}
<div class="navbar-wrapper">
	<nav class="navbar navbar-main boxed_max_width">
		<!-- <div class="container-fluid"> -->
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img class="main-logo" src="{% static "website/img/logo_white.png" %}" alt="MotorJab Garage">
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="{% block navigation_active_home %}{% endblock %}" href="/">HOME</a></li>
					<li class="dropdown">
						<a href="/servizi" class="dropdown-toggle {% block navigation_active_services %}{% endblock %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVIZI <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a class="serviceNavigationClick" data-navigation-anchor="meccanica" href="/servizi?#_meccanica">MECCANICA</a></li>
							<li><a class="serviceNavigationClick" data-navigation-anchor="elettronica"  href="/servizi?#_elettronica">ELETTRONICA</a></li>
							<li><a class="serviceNavigationClick" data-navigation-anchor="gommista"  href="/servizi?#_gommista">GOMMISTA</a></li>
						</ul>
					</li>
					<li><a class="{% block navigation_active_contacts %}{% endblock %}" href="/contattaci">CONTATTACI</a></li>
					<!--<li><a class="{% block navigation_active_booking_services %}{% endblock %}" href="/prenota-servizio">PRENOTA SERVIZIO</a></li>-->
					<li><a class="{% block navigation_active_get_offers %}{% endblock %}" href="/ricevi-offerte">RICEVI OFFERTE</a></li>
				</ul>
			<!-- </div> -->
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
</div>
{% endblock header_block %}

{% block footer_block %}
<!-- Footer Top Start -->
<div class="footer-top">
	<div class="container">
		<div class="row">
			<section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-one">
				<h4>Chi Siamo</h4>
				<p> 
				Siamo appassionati di motori, le nostre competenze ci permetto di offrire servizi di qualità superiore per tutti i fieri possessori di automobili.<br /><i><a href="/servizi?#_meccanica">Meccanica</a> - <a href="/servizi?#_elettronica">Elettronica</a> - <a href="/gommista/">Gommista</a></i>
				</p>
			</section>
			<section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 footer-two">
				<h4>Link rapidi</h4>
				<ul>
					<li><a href="/servizi">Servizi</a></li>
					<li><a href="/contattaci">Contattaci</a></li>
					<li><a href="/ricevi-offerte">Ricevi offerte</a></li>
					<li><a href="/privacy">Privacy &amp; GDPR</a></li>
					<li><a href="/cookie-policy">Cookie Policy</a></li>
				</ul>
			</section>
			<section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 padding-xs-only footer-three">
				<h4>Contatti</h4>
				<ul class="contact-us">
					<li>
						<i class="ion-ios-pin"></i>
						<p> 
							<strong class="contact-pad">Indirizzo:</strong>Via Bellini, 7,<br />10121 Torino TO
						</p>
					</li>
					<li>
						<i class="ion-ios-call"></i>
						<p><strong>Telefono:</strong> 011-546928</p>
					</li>
					<li>
						<i class="ion-ios-at"></i>
						<p><strong>Email:</strong><a href="mailto:info@motorjab.it">info@motorjab.it</a></p>
					</li>
				</ul>
			</section>
			<section class="col-lg-3 col-md-3 col-xs-12 col-sm-3 text-xs-center text-md-left footer-four">
				<img class="img-responsive" alt="MotorJab Garage" src="{% static "website/img/footer-image.png" %}">
			</section>
		</div>
	</div>
</div>
<!-- Footer Top End --> 
<!-- Footer Bottom Start -->
<div class="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-xs-center text-sm-left"> &copy; Copyright {% now 'Y' %} | Proudly made by <a href="http://www.entpy.com" target="_blank">Entpy Software</a>. All Rights Reserved. | P. IVA n.00340188887</div>
		</div>
	</div>
</div>
<!-- Footer Bottom End --> 
{% endblock footer_block %}

{# container content #}
{% block www_main_content %}{% endblock %}
