{% extends "website/inc/base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# custom page css block #}
{% block custom_css %}{% endblock %}
{# Custom page script block #}
{% block custom_js %}{% endblock %}
{# Custom page extra script block #}
{% block extra_js %}{% endblock %}

{# active menu element #}
{% block navigation_active_home %}{% endblock %}
{% block navigation_active_services %}{% endblock %}
{% block navigation_active_contacts %}{% endblock %}
{% block navigation_active_booking_services %}{% endblock %}
{% block navigation_active_get_offers %}{% endblock %}

{# container content #}
{% block www_main_content %}{% endblock %}
