{% extends "website/inc/dashboard_base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}MotorJab Garage | Campagne{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# custom page css block #}
{% block custom_css %}{{ block.super }}{% endblock %}
{# Custom page script block #}
{% block custom_js %}{% endblock %}

{# menu active element #}
{% block navigation_active_campaigns %}active{% endblock %}

{# container content #}
{% block www_main_content %}
{# title block {{{ #}
<div class="row no_gutter page_main_title_block">
	<div class="col-sm-12">
		<div class="dashboard_page_title_block">
			<div class="dashboard_page_title">Campagne</div>
			<div class="dashboard_page_description">In questa sezione è possibile creare una nuova campagna oppure visualizzare le statistiche di una campagna creata precedentemente.</div>
		</div>
	</div>
</div>
{# title block }}} #}
<div class="row no_gutter">
	<div class="col-sm-12">
		<div class="col-md-offset-2 col-md-8 padding-xs-only padding-sm-only">
			{# messages block #}
			<div class="error_container"></div>
			{% if form.errors %}
				<div class="alert alert-danger">
					<h4>Controlla questi errori</h4>
					<ul>
						{% for field in form %}
							{% for error in field.errors %}
								<li>{{ field.label|escape }}: {{ error|escape }}</li>
							{% endfor %}
						{% endfor %}
						{% for form_error in form.non_field_errors %}
							<li>{{ form_error }}</li>
						{% endfor %}
					</ul>
				</div>
			{% elif messages %}
				{% for message in messages %}
					{% if message.tags == "success" %}
						<div class="alert alert-success">
							{{ message|safe }}
						</div>
					{% elif message.tags == "error" %}
						<div class="alert alert-danger">
							{{ message|safe }}
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
<div class="row no_gutter">
	<div class="col-sm-12">
		<div class="col-sm-9 text-center padding-xs-only-60 padding-sm-only-60">
			<div class="col-sm-6 dasboard_action_block padding-xs-only padding-sm-only">
				<div class="block-label"><h4>Crea campagna</h4></div>
				<div class="text-center">
					Crea una nuova campagna<br />da inviare ai tuoi clienti
				</div>
				<div class="text-center dashboard_action_button">
					<a href="/dashboard/campaigns/step1/" class="btn btn-warning">Crea campagna</a>
				</div>
			</div>
			<div class="col-sm-6 dasboard_action_block">
				<div class="block-label"><h4>Visualizza statistiche</h4></div>
				<div class="text-center">
					Visualizza le statistiche<br />di una campagna creata precedentemente
				</div>
				<div class="text-center dashboard_action_button">
					<a href="/dashboard/campaigns/stats/" class="btn btn-warning">Visualizza statistiche</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
