{% extends "website/inc/dashboard_base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}MotorJab Garage | Campagne{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# custom page css block #}
{% block custom_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "website/css/datepicker.min.css" %}">
{% endblock %}
{# Custom page script block #}
{% block custom_js %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script> -->
<script src="http://malsup.github.com/jquery.form.js"></script> 
<!-- doc: http://t1m0n.name/air-datepicker/docs/ -->
<script src="{% static "website/js/vendor/datepicker.min.js" %}"></script>
<script src="{% static "website/js/vendor/moment-with-locales.js" %}"></script>
{% endblock %}

{# menu active element #}
{% block navigation_active_campaigns %}active{% endblock %}

{# container content #}
{% block www_main_content %}
{# title block {{{ #}
{% block campaign_flow_container %}
	{% include "website/dashboard/campaigns/campaign_header.html" with flow_active2="campaign_flow_block_active" complete_percentage="50" %}
{% endblock %}
{# title block }}} #}
<div class="row no_gutter">
	<div class="col-sm-12 col-md-offset-1">
		<h4>2. Scadenza della campagna</h4>
		<p>Imposta una scadenza per la campagna.</p>
	</div>
	<div class="col-sm-12 col-md-10 col-md-offset-1">
		{# form #}
		<div class="well bs-component campaign-bs-component">
			<form class="form-horizontal step2_form validateFormAction" method="POST" action="">
				{% csrf_token %}
				<input name="step2_form_sent" value="1" type="hidden">
				<input id="camp_expiring" name="camp_expiring" class="form-control" value="" type="hidden" required>
				<fieldset>
					<div class="form-group formGroupAction camp_expiringGroup">
						<label for="camp_expiring" class="control-label">Scadenza *</label>
						<div class="datepickerInitAction"></div>
					</div>

					<div class="form-group text-xs-left campaign_navigation_footer_container">
						<div class="col-xs-6">
							<a href="step1" class="btn btn-primary">&lt; &lt; Indietro</a>
						</div>
						<div class="col-xs-6 text-xs-right">
							<button type="submit" class="btn btn-primary formSendButtonClickAction">Avanti &gt;&gt;</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		// datepicker init
		$('.datepickerInitAction').datepicker({
			language: 'it',
			todayButton: new Date(),
			clearButton: true,
			minDate: new Date(moment().add(1, "days").format()), // Now can select only dates, which goes after today
			onSelect: function onSelect(fd, date) {
				var title = false;
				// alert(fd);
				$("#camp_expiring").val(fd);
				// $('strong', $content).html(title)
				// $('p', $content).html(content)
			},
		});

		// validazione del form
		$(document).on("click", ".formSendButtonClickAction", function(){

			var returnVar = false;
			// lavora sui "name" NON sugli "id"
			var constraints = {
				camp_expiring: {
					presence: true,
				},
			};

			returnVar = validateForm(constraints);

			return returnVar;
		});
	});
</script>
{% endblock %}
