{% extends "website/inc/dashboard_base.html" %}
{% load staticfiles website_extras %}

{# page title #}
{% block title %}MotorJab Garage | Campagne{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# custom page css block #}
{% block custom_css %}
{{ block.super }}
<style>
	.msg_text_textarea { height: 200px!important; }
</style>
{% endblock %}
{# Custom page script block #}
{% block custom_js %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script> -->
<script src="http://malsup.github.com/jquery.form.js"></script> 
{% endblock %}

{# menu active element #}
{% block navigation_active_campaigns %}active{% endblock %}

{# container content #}
{% block www_main_content %}
{# title block {{{ #}
{% block campaign_flow_container %}
	{% include "website/dashboard/campaigns/campaign_header.html" with flow_active3="campaign_flow_block_active" complete_percentage="60" %}
{% endblock %}
{# title block }}} #}
<div class="row no_gutter">
	<div class="col-sm-12 col-md-offset-1">
		<h4>3. Crea il messaggio dell'email</h4>
		<p>Inserisci l'<b>oggetto</b> e il <b>testo</b> che dovranno essere visti nell'email, in questa pagina puoi anche prelevare l'indirizzo della promozione per condividerla nel web.</p>
	</div>
</div>
<div class="row no_gutter">
	<div class="col-sm-12">
		<div class="col-md-offset-2 col-md-8 padding-xs-only padding-sm-only">
			{# messages block #}
			<div class="error_container"></div>
			{% if form.errors %}
				<div class="alert alert-danger">
					<h4>Controlla questi errori</h4>
					<ul>
						{% for field in form %}
							{% for error in field.errors %}
								<li>{{ field.label|escape }}: {{ error|escape }}</li>
							{% endfor %}
						{% endfor %}
						{% for form_error in form.non_field_errors %}
							<li>{{ form_error }}</li>
						{% endfor %}
					</ul>
				</div>
			{% elif messages %}
				{% for message in messages %}
					{% if message.tags == "success" %}
						<div class="alert alert-success">
							{{ message|safe }}
						</div>
					{% elif message.tags == "error" %}
						<div class="alert alert-danger">
							{{ message|safe }}
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
<div class="row no_gutter">
	<div class="col-sm-12 col-md-10 col-md-offset-1">
		{# form #}
		<div class="well bs-component campaign-bs-component">
			<form class="form-horizontal step3_form validateFormAction" method="POST" action="">
				{% csrf_token %}
				<input name="step3_form_sent" value="1" type="hidden">
				<fieldset>
					<div class="form-group formGroupAction msg_subjectGroup">
						<label for="msg_subject" class="control-label">{{ form.msg_subject.label }} *</label>
						<div class="input-group form_input_container_width_100">
							<input id="msg_subject" name="msg_subject" class="form-control" placeholder="{{ form.msg_subject.field.widget.attrs.placeholder }}" value="{% if post.msg_subject %}{{ post.msg_subject }}{% else %}{{ campaign_info_dict|get_item:"msg_subject" }}{% endif %}" type="text" maxlength="200" required>
						</div>
					</div>
					<div class="form-group formGroupAction msg_textGroup">
						<label for="msg_text" class="control-label">{{ form.msg_text.label }} *</label>
						<div class="input-group form_input_container_width_100">
							<textarea id="msg_text" name="msg_text" class="form-control no-spinners" required>{% if post.msg_text %}{{ post.msg_text }}{% else %}{{ campaign_info_dict|get_item:"msg_text" }}{% endif %}</textarea>
						</div>
					</div>
					<div class="form-group formGroupAction camp_msg_subjectGroup">
						<p><b>URL della tua promozione:</b><br />
						<u>{{ campaign_url }}</u> (<a target="_blank" href="{{ campaign_url }}">Apri</a>)</p>
					</div>
					<div class="form-group text-xs-left campaign_navigation_footer_container">
						<div class="col-xs-6">
							<a href="/dashboard/campaigns/step2/{{ campaign_info_dict.campaign_id }}/" class="btn btn-primary">&lt; &lt; Indietro</a>
						</div>
						<div class="col-xs-6 text-xs-right">
							<button type="submit" class="btn btn-primary formSendButtonClickAction">Avanti &gt;&gt;</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		// validazione del form
		$(document).on("click", ".formSendButtonClickAction", function(){

			var returnVar = false;
			// lavora sui "name" NON sugli "id"
			var constraints = {
				msg_subject: {
					presence: true,
				},
				msg_text: {
					presence: true,
				},
			};

			returnVar = validateForm(constraints);

			return returnVar;
		});
	});
</script>
{% endblock %}
